

@{
    ViewData["Title"] = "AccountSuspend";
}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link align-items-center" href="~/Platform/Review">
                <span>行程審核</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/AccountSuspend">
                <span>停權管理</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/Coupon">
                <span>優惠券</span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h2 style="margin-top:10px; margin-left:15px">停權管理</h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-bottom:none !important; padding-left:18px">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">會員停權管理</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">旅行社停權管理</button>
                        </li>
                    </ul>


                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">會員停權</h6>
                                </div>
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                                        <button id="AllAccountSus" class="btn btn-outline-danger" style="margin-right: 15px; margin-bottom: 10px;">一鍵停權／復權</button>
                                        <label style="margin-right: 15px;">會員狀態</label>
                                        <div>
                                            <select class="form-select" name="status" id="statusselect" style="margin-bottom:5px;">
                                                <option value="all">所有會員</option>
                                                <option value="active">停權會員</option>
                                                <option value="suspend">正常會員</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="memberTable" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="no-datatable-style"><input type="checkbox" id="selectAllCheckbox" /></th>
                                                    <th>姓名</th>
                                                    <th>性別</th>
                                                    <th>身份證號</th>
                                                    <th>出生日期</th>
                                                    <th>電話</th>
                                                    <th>電子郵件</th>
                                                    <th>折扣</th>
                                                    <th>狀態</th>
                                                </tr>
                                            </thead>
                                            <tbody id="memberlist">
                                                @foreach (var member in Model.Members)
                                                {
                                                    <tr>
                                                        <td class="chkbox"><input type="checkbox" name="memberCheckbox" value="@member.MemberId" /></td>
                                                        <td class="memname">@member.LastName@member.FirstName</td>
                                                        <td>@member.Gender</td>
                                                        <td>@member.Idnumber</td>
                                                        
                                                            @if (@member.BirthDate!=null)
                                                            {
                                                            <td>@member.BirthDate.ToShortDateString()</td>
                                                            }
                                                            else
                                                            {
                                                            <td>null</td>
                                                            }
                                                        
                                                        <td>@member.Phone</td>
                                                        <td>@member.Email</td>
                                                        <td>@member.Discount</td>
                                                        <td>
                                                            <form asp-action="SusMember" method="post">
                                                                <input type="hidden" name="memberId" value="@member.MemberId" />
                                                                <button type="submit" class="btn @(member.Enable ? "btn-danger" : "btn-outline-dark")">
                                                                    @if (member.Enable)
                                                                    {
                                                                        <span>停權</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>復原</span>
                                                                    }
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">旅行社停權</h6>
                                </div>
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                                        <button id="AllComSus" class="btn btn-outline-danger SusAllCom" style="margin-right: 15px; margin-bottom: 10px;">一鍵停權／復權</button>
                                        <label style="margin-right: 15px;">旅行社狀態</label>
                                        <div>
                                            <select class="form-select" name="comstatus" id="statusselectcom" style="margin-bottom:5px;">
                                                <option value="allcom">所有旅行社</option>
                                                <option value="suspendcom">已停權</option>
                                                <option value="activecom">活用中</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="companyTable" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="no-datatable-style"><input type="checkbox" id="selectAllComCheckbox" /></th>
                                                    <th>統編</th>
                                                    <th>旅行社名稱</th>
                                                    <th>城市</th>
                                                    <th>地址</th>
                                                    <th>電話</th>
                                                    <th>聯絡人</th>
                                                    <th>聯絡人職位</th>
                                                    <th>信箱</th>
                                                    <th>服務項目</th>
                                                    <th>狀態</th>
                                                    <th>停權</th>
                                                </tr>
                                            </thead>
                                            <tbody id="companylist">
                                                @foreach (var com in Model.Companies)
                                                {
                                                    <tr data-company-id="@com.CompanyId">
                                                        <td class ="chkbox"><input type="checkbox" name="companyCheckbox" value="@com.CompanyId" /></td>
                                                        <td>@com.TaxIdNumber</td>
                                                        <td>@com.CompanyName</td>
                                                        <td>@com.City</td>
                                                        <td>@com.Address</td>
                                                        <td>@com.CompanyPhone</td>
                                                        <td>@com.Contact</td>
                                                        <td>@com.Title</td>
                                                        <td>@com.ComEmail</td>
                                                        <td>@com.ServerDescription</td>
                                                        <td>
                                                            @if ((bool)com.ComEnable)
                                                            {
                                                                <div> 正常狀態</div>
                                                            }
                                                            else
                                                            {
                                                                <div style="color:red"> 已停權</div>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if ((bool)com.ComEnable)
                                                            {
                                                                <button class="btn  btn-danger SusCom" value="@com.CompanyId">停權</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-outline-dark SusCom" value="@com.CompanyId">復原</button>
                                                            }

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    </div>
                </div>



          
            </div>
               
          
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    @section Styles{

    <link rel="stylesheet" href=https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css />
        <style>
            .card-body {
                height: unset;
            }

            .myrow {
                display: flex;
                align-content: flex-start;
                flex-direction: column;
                width: 100%;
            }

           

        .no-datatable-style.sorting {
            background-image: none !important;
            cursor: default !important;
        }

        /* Remove additional attributes and inline styles */
        .no-datatable-style {
            border: none !important;
            width: auto !important;
            position: relative; /* Ensure relative positioning for pseudo elements */
        }

            /* Hide ::before and ::after pseudo elements */
            .no-datatable-style::before,
            .no-datatable-style::after {
                content: none !important;
            }

        .chkbox{
            width:15px;
        }

        .memname{
            width:80px;
        }
        </style>
    }

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
     @*<script>
            $(document).ready(function () {
                $('#memberTable').DataTable();
                $('#companyTable').DataTable();
        });
    </script>*@

    <script>

        $(document).ready(function () {
            $('#memberTable').DataTable({
                'language': {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "emptyTable": "目前沒有資料",
                    "datetime": {
                        "previous": "上一頁",
                        "next": "下一頁",
                        "hours": "時",
                        "minutes": "分",
                        "seconds": "秒",
                        "amPm": [
                            "上午",
                            "下午"
                        ],
                        "unknown": "未知",
                        "weekdays": [
                            "週日",
                            "週一",
                            "週二",
                            "週三",
                            "週四",
                            "週五",
                            "週六"
                        ],
                        "months": [
                            "一月",
                            "二月",
                            "三月",
                            "四月",
                            "五月",
                            "六月",
                            "七月",
                            "八月",
                            "九月",
                            "十月",
                            "十一月",
                            "十二月"
                        ]
                    },
                    "searchBuilder": {
                        "add": "新增條件",
                        "condition": "條件",
                        "deleteTitle": "刪除過濾條件",
                        "button": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "clearAll": "清空",
                        "conditions": {
                            "array": {
                                "contains": "含有",
                                "equals": "等於",
                                "empty": "空值",
                                "not": "不等於",
                                "notEmpty": "非空值",
                                "without": "不含"
                            },
                            "date": {
                                "after": "大於",
                                "before": "小於",
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "number": {
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "gt": "大於",
                                "gte": "大於等於",
                                "lt": "小於",
                                "lte": "小於等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "string": {
                                "contains": "含有",
                                "empty": "為空",
                                "endsWith": "字尾為",
                                "equals": "等於",
                                "not": "不為",
                                "notEmpty": "不為空",
                                "startsWith": "字首為",
                                "notContains": "不含",
                                "notStartsWith": "開頭不是",
                                "notEndsWith": "結尾不是"
                            }
                        },
                        "data": "欄位",
                        "leftTitle": "群組條件",
                        "logicAnd": "且",
                        "logicOr": "或",
                        "rightTitle": "取消群組",
                        "title": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "value": "內容"
                    },
                    "editor": {
                        "close": "關閉",
                        "create": {
                            "button": "新增",
                            "title": "新增資料",
                            "submit": "送出新增"
                        },
                        "remove": {
                            "button": "刪除",
                            "title": "刪除資料",
                            "submit": "送出刪除",
                            "confirm": {
                                "_": "您確定要刪除您所選取的 %d 筆資料嗎？",
                                "1": "您確定要刪除您所選取的 1 筆資料嗎？"
                            }
                        },
                        "error": {
                            "system": "系統發生錯誤(更多資訊)"
                        },
                        "edit": {
                            "button": "修改",
                            "title": "修改資料",
                            "submit": "送出修改"
                        },
                        "multi": {
                            "title": "多重值",
                            "info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
                            "restore": "復原",
                            "noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
                        }
                    },
                    "autoFill": {
                        "cancel": "取消"
                    },
                    "buttons": {
                        "copySuccess": {
                            "_": "複製了 %d 筆資料",
                            "1": "複製了 1 筆資料"
                        },
                        "copyTitle": "已經複製到剪貼簿",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "print": "列印",
                        "copy": "複製",
                        "colvis": "欄位顯示",
                        "colvisRestore": "重置欄位顯示",
                        "csv": "CSV",
                        "pageLength": {
                            "-1": "顯示全部",
                            "_": "顯示 %d 筆"
                        },
                        "createState": "建立狀態",
                        "removeAllStates": "移除所有狀態",
                        "removeState": "移除",
                        "renameState": "重新命名",
                        "savedStates": "儲存狀態",
                        "stateRestore": "狀態 %d",
                        "updateState": "更新"
                    },
                    "searchPanes": {
                        "collapse": {
                            "_": "搜尋面版 (%d)",
                            "0": "搜尋面版"
                        },
                        "emptyPanes": "沒搜尋面版",
                        "loadMessage": "載入搜尋面版中...",
                        "clearMessage": "清空",
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "title": "過濾條件 - %d",
                        "showMessage": "顯示全部",
                        "collapseMessage": "摺疊全部"
                    },
                    "stateRestore": {
                        "emptyError": "名稱不能空白。",
                        "creationModal": {
                            "button": "建立",
                            "columns": {
                                "search": "欄位搜尋",
                                "visible": "欄位顯示"
                            },
                            "name": "名稱：",
                            "order": "排序",
                            "paging": "分頁",
                            "scroller": "卷軸位置",
                            "search": "搜尋",
                            "searchBuilder": "複合查詢",
                            "select": "選擇",
                            "title": "建立新狀態",
                            "toggleLabel": "包含："
                        },
                        "duplicateError": "此狀態名稱已經存在。",
                        "emptyStates": "名稱不可空白。",
                        "removeConfirm": "確定要移除 %s 嗎？",
                        "removeError": "移除狀態失敗。",
                        "removeJoiner": "和",
                        "removeSubmit": "移除",
                        "removeTitle": "移除狀態",
                        "renameButton": "重新命名",
                        "renameLabel": "%s 的新名稱：",
                        "renameTitle": "重新命名狀態"
                    },
                    "select": {
                        "columns": {
                            "_": "選擇了 %d 欄資料",
                            "1": "選擇了 1 欄資料"
                        },
                        "rows": {
                            "1": "選擇了 1 筆資料",
                            "_": "選擇了 %d 筆資料"
                        },
                        "cells": {
                            "1": "選擇了 1 格資料",
                            "_": "選擇了 %d 格資料"
                        }
                    },
                    "zeroRecords": "沒有符合的資料",
                    "aria": {
                        "sortAscending": "：升冪排列",
                        "sortDescending": "：降冪排列"
                    },
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                    "infoThousands": ",",
                    "lengthMenu": "顯示 _MENU_ 筆結果",
                    "search": "搜尋：",
                    "searchPlaceholder": "請輸入關鍵字",
                    "thousands": ","
                }
            });
        });
        $(document).ready(function () {
            $('#companyTable').DataTable({
                'language': {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "emptyTable": "目前沒有資料",
                    "datetime": {
                        "previous": "上一頁",
                        "next": "下一頁",
                        "hours": "時",
                        "minutes": "分",
                        "seconds": "秒",
                        "amPm": [
                            "上午",
                            "下午"
                        ],
                        "unknown": "未知",
                        "weekdays": [
                            "週日",
                            "週一",
                            "週二",
                            "週三",
                            "週四",
                            "週五",
                            "週六"
                        ],
                        "months": [
                            "一月",
                            "二月",
                            "三月",
                            "四月",
                            "五月",
                            "六月",
                            "七月",
                            "八月",
                            "九月",
                            "十月",
                            "十一月",
                            "十二月"
                        ]
                    },
                    "searchBuilder": {
                        "add": "新增條件",
                        "condition": "條件",
                        "deleteTitle": "刪除過濾條件",
                        "button": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "clearAll": "清空",
                        "conditions": {
                            "array": {
                                "contains": "含有",
                                "equals": "等於",
                                "empty": "空值",
                                "not": "不等於",
                                "notEmpty": "非空值",
                                "without": "不含"
                            },
                            "date": {
                                "after": "大於",
                                "before": "小於",
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "number": {
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "gt": "大於",
                                "gte": "大於等於",
                                "lt": "小於",
                                "lte": "小於等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "string": {
                                "contains": "含有",
                                "empty": "為空",
                                "endsWith": "字尾為",
                                "equals": "等於",
                                "not": "不為",
                                "notEmpty": "不為空",
                                "startsWith": "字首為",
                                "notContains": "不含",
                                "notStartsWith": "開頭不是",
                                "notEndsWith": "結尾不是"
                            }
                        },
                        "data": "欄位",
                        "leftTitle": "群組條件",
                        "logicAnd": "且",
                        "logicOr": "或",
                        "rightTitle": "取消群組",
                        "title": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "value": "內容"
                    },
                    "editor": {
                        "close": "關閉",
                        "create": {
                            "button": "新增",
                            "title": "新增資料",
                            "submit": "送出新增"
                        },
                        "remove": {
                            "button": "刪除",
                            "title": "刪除資料",
                            "submit": "送出刪除",
                            "confirm": {
                                "_": "您確定要刪除您所選取的 %d 筆資料嗎？",
                                "1": "您確定要刪除您所選取的 1 筆資料嗎？"
                            }
                        },
                        "error": {
                            "system": "系統發生錯誤(更多資訊)"
                        },
                        "edit": {
                            "button": "修改",
                            "title": "修改資料",
                            "submit": "送出修改"
                        },
                        "multi": {
                            "title": "多重值",
                            "info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
                            "restore": "復原",
                            "noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
                        }
                    },
                    "autoFill": {
                        "cancel": "取消"
                    },
                    "buttons": {
                        "copySuccess": {
                            "_": "複製了 %d 筆資料",
                            "1": "複製了 1 筆資料"
                        },
                        "copyTitle": "已經複製到剪貼簿",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "print": "列印",
                        "copy": "複製",
                        "colvis": "欄位顯示",
                        "colvisRestore": "重置欄位顯示",
                        "csv": "CSV",
                        "pageLength": {
                            "-1": "顯示全部",
                            "_": "顯示 %d 筆"
                        },
                        "createState": "建立狀態",
                        "removeAllStates": "移除所有狀態",
                        "removeState": "移除",
                        "renameState": "重新命名",
                        "savedStates": "儲存狀態",
                        "stateRestore": "狀態 %d",
                        "updateState": "更新"
                    },
                    "searchPanes": {
                        "collapse": {
                            "_": "搜尋面版 (%d)",
                            "0": "搜尋面版"
                        },
                        "emptyPanes": "沒搜尋面版",
                        "loadMessage": "載入搜尋面版中...",
                        "clearMessage": "清空",
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "title": "過濾條件 - %d",
                        "showMessage": "顯示全部",
                        "collapseMessage": "摺疊全部"
                    },
                    "stateRestore": {
                        "emptyError": "名稱不能空白。",
                        "creationModal": {
                            "button": "建立",
                            "columns": {
                                "search": "欄位搜尋",
                                "visible": "欄位顯示"
                            },
                            "name": "名稱：",
                            "order": "排序",
                            "paging": "分頁",
                            "scroller": "卷軸位置",
                            "search": "搜尋",
                            "searchBuilder": "複合查詢",
                            "select": "選擇",
                            "title": "建立新狀態",
                            "toggleLabel": "包含："
                        },
                        "duplicateError": "此狀態名稱已經存在。",
                        "emptyStates": "名稱不可空白。",
                        "removeConfirm": "確定要移除 %s 嗎？",
                        "removeError": "移除狀態失敗。",
                        "removeJoiner": "和",
                        "removeSubmit": "移除",
                        "removeTitle": "移除狀態",
                        "renameButton": "重新命名",
                        "renameLabel": "%s 的新名稱：",
                        "renameTitle": "重新命名狀態"
                    },
                    "select": {
                        "columns": {
                            "_": "選擇了 %d 欄資料",
                            "1": "選擇了 1 欄資料"
                        },
                        "rows": {
                            "1": "選擇了 1 筆資料",
                            "_": "選擇了 %d 筆資料"
                        },
                        "cells": {
                            "1": "選擇了 1 格資料",
                            "_": "選擇了 %d 格資料"
                        }
                    },
                    "zeroRecords": "沒有符合的資料",
                    "aria": {
                        "sortAscending": "：升冪排列",
                        "sortDescending": "：降冪排列"
                    },
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                    "infoThousands": ",",
                    "lengthMenu": "顯示 _MENU_ 筆結果",
                    "search": "搜尋：",
                    "searchPlaceholder": "請輸入關鍵字",
                    "thousands": ","
                }
            });
        });
    </script>


        <script>
      //會員全選
            var selectAllCheckbox = document.getElementById("selectAllCheckbox");
            var memberCheckboxes = document.querySelectorAll('input[name="memberCheckbox"]');
            selectAllCheckbox.addEventListener("click", function () {
                for (var i = 0; i < memberCheckboxes.length; i++) {
                    memberCheckboxes[i].checked = selectAllCheckbox.checked;
                }
            });

        //廠商全選
        var selectAllComCheckbox = document.getElementById("selectAllComCheckbox");
        var companyCheckboxes = document.querySelectorAll('input[name="companyCheckbox"]');
        selectAllComCheckbox.addEventListener("click", function () {
            for (var i = 0; i < companyCheckboxes.length; i++) {
                companyCheckboxes[i].checked = selectAllComCheckbox.checked;
            }
        });


        //停權多個會員
        $(document).ready(function () {
            $("#AllAccountSus").click(function (e) {
                e.preventDefault();
                var statusValue = $("input[name='status']:checked").val();
                var selectedMemberIds = [];

                $("input[name='memberCheckbox']:checked").each(function () {
                    selectedMemberIds.push($(this).val());
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SusAllMember", "Platform")",
                    data: { memberIds: selectedMemberIds, status: statusValue },
                    success: function (result) {
                        location.reload(); 
                    },
                    error: function (error) {
                    }
                });
            });
        });

        //會員狀態搜尋篩選
        $(document).ready(function () {
            var statusSelect = $("#statusselect");

            // 初始設置為所有會員
            filterMembers("all");

            // 當下拉選單變更時
            statusSelect.change(function () {
                var selectedStatus = $(this).val();
                filterMembers(selectedStatus);
            });

            // 過濾表格行
            function filterMembers(status) {
                // 顯示所有行
                $("tbody tr").show();

                // 根據選擇的狀態過濾行
                if (status === "suspend") {
                    $("tbody tr").not(":has(button.btn-danger)").hide();
                } else if (status === "active") {
                    $("tbody tr").not(":has(button.btn-outline-dark)").hide();
                }
            }
        });

        
        //供應商停權
        async function SusComAccount(CompanyId) {
            const companylist = document.getElementById('companylist');
            const response = await fetch(`@Url.Content("~/Platform/SusComAccount")?comId=${CompanyId}`)
            const datas = await response.json();
            console.log(CompanyId,datas);
            if (datas != null) {
                const rows = datas.map(row => {
                    const { taxIdNumber, companyName, city, address, companyPhone, contact, title, comEmail, serverDescription, comEnable, companyId } = row
                    console.log(row)
                    const continueButton = comEnable === '正常狀態'
                        ?  `<button class="btn btn-danger SusCom" value="${companyId}">停權</button>`
                        :`<button class="btn btn-outline-dark SusCom" value="${companyId}">復原</button>`;
                    return (
                        ` <tr>
                                         <td class ="chkbox" > <input type="checkbox" name = "companyCheckbox" value ="${companyId}" /> </td>
                                                                           <td>${taxIdNumber}</td>
                                                                         <td>${companyName}</td>
                                                                            <td>${city}</td>
                                                                             <td>${address}</td>
                                                                             <td>${companyPhone}</td>
                                                                           <td>${contact}</td>
                                                                            <td>${title}</td>
                                                                             <td>${comEmail}</td>
                                                                               <td>${serverDescription}</td>
                                                                                   <td class="${comEnable === '已停權' ? 'text-danger' : ''}">${comEnable}</td>
                                                                          <td>${continueButton}</td>

                                                         </tr>`
                    );

                });
                companylist.innerHTML = rows.join("");
            }
        }

        $(document).on('click', '.SusCom', function () {
            var CompanyId = $(this).val();
            SusComAccount(CompanyId);
        });

        // 多個供應商停權
        async function SusAllComAccount(companyIds) {
            const companylist = document.getElementById('companylist');
            const response = await fetch('@Url.Content("~/Platform/SusAllComAccount")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(companyIds) // 注意這裡直接傳遞選取的公司 ID 陣列
            });
            const datas = await response.json();
            console.log(companyIds, datas);
            if (datas != null) {
                const rows = datas.map(row => {
                    const { taxIdNumber, companyName, city, address, companyPhone, contact, title, comEmail, serverDescription, comEnable, companyId } = row
                    console.log(row)
                    const continueButton = comEnable === '正常狀態'
                        ? `<button class="btn btn-danger SusCom" value="${companyId}">停權</button>`
                        : `<button class="btn btn-outline-dark SusCom" value="${companyId}">復原</button>`;
                    return (
                        ` <tr>
                                                 <td class ="chkbox" > <input type="checkbox" name = "companyCheckbox" value ="${companyId}" /> </td>
                                                                                   <td>${taxIdNumber}</td>
                                                                                 <td>${companyName}</td>
                                                                                    <td>${city}</td>
                                                                                     <td>${address}</td>
                                                                                     <td>${companyPhone}</td>
                                                                                   <td>${contact}</td>
                                                                                    <td>${title}</td>
                                                                                     <td>${comEmail}</td>
                                                                                       <td>${serverDescription}</td>
                                                                                           <td class="${comEnable === '已停權' ? 'text-danger' : ''}">${comEnable}</td>
                                                                                  <td>${continueButton}</td>

                                                                 </tr>`
                    );

                });
                companylist.innerHTML = rows.join("");
            }
        }

        $(document).on('click', '.SusAllCom', function () {
            var selectedCompanyCheckboxes = $('input[name="companyCheckbox"]:checked');
           
            var selectedCompanyIds = Array.from(selectedCompanyCheckboxes).map(checkbox => parseInt(checkbox.value));
            console.log("Selected Company IDs:", selectedCompanyIds)
            SusAllComAccount(selectedCompanyIds);
        });


        async function queryByStatus(status) {
            const companylist = document.getElementById('companylist');
            const response = await fetch(`/Platform/queryByStatus?statusID=${status}`);
            const datas = await response.json();
            console.log(datas,response);
            if (datas != null) {
                const rows = datas.map(row => {
                    const { taxIdNumber, companyName, city, address, companyPhone, contact, title, comEmail, serverDescription, comEnable, companyId } = row;
                    console.log(row);
                    const continueButton = comEnable === '正常狀態' || comEnable === true
                        ? `<button class="btn btn-danger SusCom" value="${companyId}">停權</button>`
                        : `<button class="btn btn-outline-dark SusCom" value="${companyId}">復原</button>`;
                    return (
                        ` <tr>
                            <td class="chkbox"><input type="checkbox" name="companyCheckbox" value="${companyId}" /></td>
                            <td>${taxIdNumber}</td>
                            <td>${companyName}</td>
                            <td>${city}</td>
                            <td>${address}</td>
                            <td>${companyPhone}</td>
                            <td>${contact}</td>
                            <td>${title}</td>
                            <td>${comEmail}</td>
                            <td>${serverDescription}</td>
                            <td class="${comEnable === '已停權' ? 'text-danger' : ''}">${comEnable}</td>
                            <td>${continueButton}</td>
                        </tr>`
                    );
                });
                companylist.innerHTML = rows.join("");
            }
        }

        $('.form-select').change(function () {
            var status = $(this).val();
            //alert(status);
            queryByStatus(status);
        });

        

        </script>

    }

