@model prj_Traveldate_Core.ViewModels.CPlatformViewModel

@{
    ViewData["Title"] = "Coupon";
}

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/Review">
                <span>行程審核</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/AccountSuspend">
                <span>停權管理</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/Coupon">
                <span>優惠券</span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->

            <div class="container-fluid">
                @if (TempData.ContainsKey("CouponSentMessage"))
                {
                    <div id="successMessage" class="alert alert-success" role="alert" style="display: none;">
                        @TempData["CouponSentMessage"]
                    </div>
                }
                <h2 style="margin-top:10px; margin-left:15px">優惠券管理</h2>

                <div class="col-md-16">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">優惠券名稱</h6>
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn my-btn-primary mr-2" data-toggle="modal" data-target="#createCoupon">新增優惠券</button>
                                <a asp-action="Send" class="btn btn-success">
                                    發放優惠券 <i class="fas fa-paper-plane"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="display">
                                    <thead>
                                        <tr>
                                            <th>優惠券名稱</th>
                                            <th>折扣</th>
                                            <th>描述</th>
                                            <th>建立日期</th>
                                            <th>截止日</th>
                                            <th>照片</th>
                                            <th>使用／發放　數量</th>
                                            <th>修改</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.coupon)
                                        {
                                            <tr>
                                                
                                                <td>
                                                    @item.CouponName
                                                </td>
                                                <td>
                                                    @item.Discount
                                                </td>
                                                <td>
                                                    @item.Description
                                                </td>
                                                <td>@string.Format("{0:yyyy-MM-dd}", item.CreateDate)</td>
                                                <td>
                                                    @string.Format("{0:yyyy-MM-dd}", item.DueDate)
                                                </td>
                                                <td class="imagetd">
                                                    <img src="~/Images/@item.ImagePath" class="couponImg img-thumbnail" alt="noimages" />
                                                </td>
                                                <td class ="counum">
                                                    @item.CouponUsedNum/@item.CouponNum
                                                </td>
                                                <td>
                                                    <img class="btn" src="~/icons/icon_edit.png"
                                                         onclick="openEditModal('@item.CouponListId', '@item.CouponName', '@item.Discount', '@item.Description', '@string.Format("{0:yyyy-MM-dd}", item.DueDate)')"
                                                         data-toggle="modal" data-target="#EditCoupon" />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- 新增優惠券 -->
            <div class="modal fade" id="createCoupon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">新增優惠券</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/Platform/CreateCoupon" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="CreateDate" name="cou.CreateDate" readonly>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">優惠券名稱</label>
                                    <input type="text" class="form-control" id="CouponName" name="cou.CouponName">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">優惠折扣數</label>
                                    <input type="text" class="form-control" id="Discount" name="cou.Discount">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">描述</label>
                                    <textarea class="form-control" id="Description" name="cou.Description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">優惠截止日</label>
                                    <input type="date" class="form-control" id="DueDate" name="cou.DueDate">
                                </div>
                                <div class="form-group">
                                    <label for="formFile" class="col-form-label">照片</label>
                                    <input type="file" class="form-control" id="formFile" name="cou.photo">
                                    <img id="imagePreview" class="w-100 mt-5" />
                                </div>
                                <div class="form-group">
                                    <a asp-action="Coupon" class="btn btn-outline-dark">取消</a>
                                    <input type="submit" value="新增優惠券" class="btn my-btn-primary" />
                                    <button type ="button" class="btn btn-light" id="demoButton">Demo</button>
                                </div>
                            </form>
                        </div>
                      
                    </div>
                </div>
            </div>

            <!-- 修改優惠券 -->
            <div class="modal fade" id="EditCoupon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">修改優惠券</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/Platform/EditCoupon" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="EditCouponListId" name="cou.CouponListId" />
                                <input type="hidden" id="CreateDate" name="cou.CreateDate" />
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">優惠券名稱</label>
                                    <input type="text" class="form-control" id="EditCouponName" name="cou.CouponName">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">優惠折扣數</label>
                                    <input type="text" class="form-control" id="EditDiscount" name="cou.Discount">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">描述</label>
                                    <textarea class="form-control" id="EditDescription" name="cou.Description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">優惠截止日</label>
                                    <input type="date" class="form-control" id="EditDueDate" name="cou.DueDate">
                                </div>
                                <div class="form-group">
                                    <label for="formFile" class="col-form-label">照片</label>
                                    <input type="file" class="form-control" id="EditImagePath" name="cou.photo">
                                    <img id="imagePreview" class="w-100" />
                                </div>
                                <div class="form-group">
                                    <a asp-action="Coupon" class="btn btn-outline-dark">取消</a>
                                    <input type="submit" value="確認修改" class="btn my-btn-primary" />
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    @section Styles{
        <link rel="stylesheet" href=https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css />
        <style>
            .card-body {
                height: unset;
            }
            .imagetd{
                width: 100px;
            }

            .couponImg{
                width:60px;
            }

            .counum{
                width: 65px;
            }

        </style>
       

    }

    @section Scripts{

        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script>

            $(document).ready(function () {
                $('#datatable').DataTable({
                    order: [[3, 'desc']],
                    'language': {
                        "processing": "處理中...",
                        "loadingRecords": "載入中...",
                        "paginate": {
                            "first": "第一頁",
                            "previous": "上一頁",
                            "next": "下一頁",
                            "last": "最後一頁"
                        },
                        "emptyTable": "目前沒有資料",
                        "datetime": {
                            "previous": "上一頁",
                            "next": "下一頁",
                            "hours": "時",
                            "minutes": "分",
                            "seconds": "秒",
                            "amPm": [
                                "上午",
                                "下午"
                            ],
                            "unknown": "未知",
                            "weekdays": [
                                "週日",
                                "週一",
                                "週二",
                                "週三",
                                "週四",
                                "週五",
                                "週六"
                            ],
                            "months": [
                                "一月",
                                "二月",
                                "三月",
                                "四月",
                                "五月",
                                "六月",
                                "七月",
                                "八月",
                                "九月",
                                "十月",
                                "十一月",
                                "十二月"
                            ]
                        },
                        "searchBuilder": {
                            "add": "新增條件",
                            "condition": "條件",
                            "deleteTitle": "刪除過濾條件",
                            "button": {
                                "_": "複合查詢 (%d)",
                                "0": "複合查詢"
                            },
                            "clearAll": "清空",
                            "conditions": {
                                "array": {
                                    "contains": "含有",
                                    "equals": "等於",
                                    "empty": "空值",
                                    "not": "不等於",
                                    "notEmpty": "非空值",
                                    "without": "不含"
                                },
                                "date": {
                                    "after": "大於",
                                    "before": "小於",
                                    "between": "在其中",
                                    "empty": "為空",
                                    "equals": "等於",
                                    "not": "不為",
                                    "notBetween": "不在其中",
                                    "notEmpty": "不為空"
                                },
                                "number": {
                                    "between": "在其中",
                                    "empty": "為空",
                                    "equals": "等於",
                                    "gt": "大於",
                                    "gte": "大於等於",
                                    "lt": "小於",
                                    "lte": "小於等於",
                                    "not": "不為",
                                    "notBetween": "不在其中",
                                    "notEmpty": "不為空"
                                },
                                "string": {
                                    "contains": "含有",
                                    "empty": "為空",
                                    "endsWith": "字尾為",
                                    "equals": "等於",
                                    "not": "不為",
                                    "notEmpty": "不為空",
                                    "startsWith": "字首為",
                                    "notContains": "不含",
                                    "notStartsWith": "開頭不是",
                                    "notEndsWith": "結尾不是"
                                }
                            },
                            "data": "欄位",
                            "leftTitle": "群組條件",
                            "logicAnd": "且",
                            "logicOr": "或",
                            "rightTitle": "取消群組",
                            "title": {
                                "_": "複合查詢 (%d)",
                                "0": "複合查詢"
                            },
                            "value": "內容"
                        },
                        "editor": {
                            "close": "關閉",
                            "create": {
                                "button": "新增",
                                "title": "新增資料",
                                "submit": "送出新增"
                            },
                            "remove": {
                                "button": "刪除",
                                "title": "刪除資料",
                                "submit": "送出刪除",
                                "confirm": {
                                    "_": "您確定要刪除您所選取的 %d 筆資料嗎？",
                                    "1": "您確定要刪除您所選取的 1 筆資料嗎？"
                                }
                            },
                            "error": {
                                "system": "系統發生錯誤(更多資訊)"
                            },
                            "edit": {
                                "button": "修改",
                                "title": "修改資料",
                                "submit": "送出修改"
                            },
                            "multi": {
                                "title": "多重值",
                                "info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
                                "restore": "復原",
                                "noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
                            }
                        },
                        "autoFill": {
                            "cancel": "取消"
                        },
                        "buttons": {
                            "copySuccess": {
                                "_": "複製了 %d 筆資料",
                                "1": "複製了 1 筆資料"
                            },
                            "copyTitle": "已經複製到剪貼簿",
                            "excel": "Excel",
                            "pdf": "PDF",
                            "print": "列印",
                            "copy": "複製",
                            "colvis": "欄位顯示",
                            "colvisRestore": "重置欄位顯示",
                            "csv": "CSV",
                            "pageLength": {
                                "-1": "顯示全部",
                                "_": "顯示 %d 筆"
                            },
                            "createState": "建立狀態",
                            "removeAllStates": "移除所有狀態",
                            "removeState": "移除",
                            "renameState": "重新命名",
                            "savedStates": "儲存狀態",
                            "stateRestore": "狀態 %d",
                            "updateState": "更新"
                        },
                        "searchPanes": {
                            "collapse": {
                                "_": "搜尋面版 (%d)",
                                "0": "搜尋面版"
                            },
                            "emptyPanes": "沒搜尋面版",
                            "loadMessage": "載入搜尋面版中...",
                            "clearMessage": "清空",
                            "count": "{total}",
                            "countFiltered": "{shown} ({total})",
                            "title": "過濾條件 - %d",
                            "showMessage": "顯示全部",
                            "collapseMessage": "摺疊全部"
                        },
                        "stateRestore": {
                            "emptyError": "名稱不能空白。",
                            "creationModal": {
                                "button": "建立",
                                "columns": {
                                    "search": "欄位搜尋",
                                    "visible": "欄位顯示"
                                },
                                "name": "名稱：",
                                "order": "排序",
                                "paging": "分頁",
                                "scroller": "卷軸位置",
                                "search": "搜尋",
                                "searchBuilder": "複合查詢",
                                "select": "選擇",
                                "title": "建立新狀態",
                                "toggleLabel": "包含："
                            },
                            "duplicateError": "此狀態名稱已經存在。",
                            "emptyStates": "名稱不可空白。",
                            "removeConfirm": "確定要移除 %s 嗎？",
                            "removeError": "移除狀態失敗。",
                            "removeJoiner": "和",
                            "removeSubmit": "移除",
                            "removeTitle": "移除狀態",
                            "renameButton": "重新命名",
                            "renameLabel": "%s 的新名稱：",
                            "renameTitle": "重新命名狀態"
                        },
                        "select": {
                            "columns": {
                                "_": "選擇了 %d 欄資料",
                                "1": "選擇了 1 欄資料"
                            },
                            "rows": {
                                "1": "選擇了 1 筆資料",
                                "_": "選擇了 %d 筆資料"
                            },
                            "cells": {
                                "1": "選擇了 1 格資料",
                                "_": "選擇了 %d 格資料"
                            }
                        },
                        "zeroRecords": "沒有符合的資料",
                        "aria": {
                            "sortAscending": "：升冪排列",
                            "sortDescending": "：降冪排列"
                        },
                        "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                        "infoThousands": ",",
                        "lengthMenu": "顯示 _MENU_ 筆結果",
                        "search": "搜尋：",
                        "searchPlaceholder": "請輸入關鍵字",
                        "thousands": ","
                    }
                });
            });
        </script>
        <script>
          


            $('#createCoupon').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) 
            })

            const formFileInput = document.getElementById('formFile');
            const previewImg = document.getElementById('imagePreview');

            formFileInput.addEventListener('change', function () {
                const file = formFileInput.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.addEventListener('load', () => {
                        previewImg.setAttribute('src', event.target.result)
                    })

                    reader.readAsDataURL(file);
                } else {
                    previewImg.innerHTML = '';
                }
            });

            function formatDate(date) {
                var year = date.getFullYear();
                var month = String(date.getMonth() + 1).padStart(2, '0');
                var day = String(date.getDate()).padStart(2, '0');
                return `${year}-${month}-${day}`;
            }


            function openEditModal(id, name, discount, description, dueDate) {
                console.log(id, name, discount, description, dueDate);
                $('#EditCouponListId').val(id);
                $('#EditCouponName').val(name);
                $('#EditDiscount').val(discount);
                $('#EditDescription').val(description);
                var formattedDueDate = formatDate(new Date(dueDate)); 
                $('#EditDueDate').val(formattedDueDate); 
                console.log(formattedDueDate);

                $('#EditCoupon').modal('show');
            }

            $(document).ready(function () {
                var successMessage = $('#successMessage');
                if (successMessage.length > 0) {
                    successMessage.fadeIn();
                    setTimeout(function () {
                        successMessage.fadeOut();
                    }, 5000);
                }
            });

            $('.my-btn-primary').on('click', function () {
                // 在點擊"確認修改"按鈕時，設定當前時間給 CreateDate 字段
                $('#CreateDate').val(new Date().toISOString());
            });


            document.addEventListener('DOMContentLoaded', function () {
                const demoButton = document.getElementById('demoButton');
                demoButton.addEventListener('click', function () {
                    // 填充表單輸入欄位
                    
                    document.getElementById('CouponName').value = '超級大優惠來臨';
                    document.getElementById('Discount').value = 0.8;
                    document.getElementById('Description').value = '一年一度超殺優惠來臨';
                    document.getElementById('DueDate').value = '2023-10-01';

                    // // 可選：顯示Demo照片
                    // const imagePreview = document.getElementById('imagePreview');
                    // imagePreview.src = '填充的圖片URL';
                });
            });


        </script>
    }


