@using prj_Traveldate_Core.ViewModels;
@model CArticleViewModel

@{
    ViewData["Title"] = "ArticleView";
}
@section Styles{
    
    <style>
        .reply-input {
            height: 100px !important;
        }

        #btnReply{
            background: #f8f9fa;
            padding:10px;
            border-radius:5px;
            color:black;
        }

        #btnReply:hover{
                background: #d3d4d5;
        }

       /*  .dialog-box {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 300px;
            height:400px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
            display: none;
        } */
        .showTop{
            position: absolute;
            right:0;
            max-height:320px;
            overflow-y: auto;
            z-index:100;
            background:#fff;
            width:550px;
            border: 1px solid gray;
            padding: 2px;
            border-radius:7px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

        }

        ::-webkit-scrollbar {
            width: 7px;
            height:7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #155074;
            border-radius: 5px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #74abcc;
            }

        .slideshow {
            position: relative;
            margin: auto;
            overflow: hidden;
            height: 350px;
            width: 900px;
        }

            .slideshow .tripPhoto {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display: none;
            }

        .scroll-x {
            max-width: 900px;
            overflow-x: auto;
           }

        .parent-container {
            overflow-x: auto; 
            white-space: nowrap; 
            max-width: 924px;
        }

        .child-div {
            display: inline-block; 
        }

        .rating-container {
            display: flex;
            align-items: center;
        }

        .rating-text {
            text-align: left;
            margin-right: 5px;
        }

        .star {
            display: inline-block;
            width: 13px;
            height: 13px;
            background-color: gray;
            margin-right: 2px;
            clip-path: polygon(50% 0%, 61% 38%, 100% 38%, 68% 61%, 79% 100%, 50% 76%, 21% 100%, 32% 61%, 0% 38%, 39% 38%);
            transition: transform 0.3s ease-in-out;
        }

            .star.active {
                background-color: #00F0F0;
                clip-path: polygon(50% 0%, 61% 38%, 100% 38%, 68% 61%, 79% 100%, 50% 76%, 21% 100%, 32% 61%, 0% 38%, 39% 38%);
            }

        .half-filled {
            background: linear-gradient(to right, #00F0F0 50%, gray 50%);
        }

        .card-img-overlay:hover .align-corner {
            display: block;
            opacity: 1;
        }
       
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

<div class="row justify-content-center pb-4">
    <div class="col-10 bg-white rounded-3">
        <div class="divide-line">
        <div class="divide-line pl-4 pt-4">
                <h2>@Model.forum.Title</h2>
        </div>
            <div class="mb-4 pl-4">
                <img src="~/icons/icons8-eye-24.png" />　<label class="fs-5">@Model.forum.Watches</label >
                <img src="~/icons/icons8-like-24.png" />　<label class="fs-5" id="likes">@Model.likes.Where(l=>l.IsLike==true).Count()</label>
                <img src="~/icons/icons8-talk-24.png" />　<label class="fs-5" id="replies">@Model.replys.Count()</label>
        </div>
            <div class="d-flex divide-line pl-4 pr-4 pb-4">
            <div>
                    @if (!string.IsNullOrEmpty(ViewBag.PhotoBase64))
                    {
                        <img src="@ViewBag.PhotoBase64" height="100" width="100" />
                    }
                    else
                    {
                        if (Model.forum.Member.Gender == "男")
                        {
                            <img src="~/icons/icons8-person-100.png" class="my-w100-h100" alt="null">
                        }
                        else
                        {
                            <img src="~/icons/icons8-person-female-100.png" class="my-w100-h100" alt="null">
                        }

                    }

            </div>
            <div class="col-8">
                <h4 class="fw-bolder">@Model.forum.Member.FirstName</h4>
                <div>
                        <img src="~/icons/icons8-calendar-32.png" height="24" /> <label class="bg-secondary p-1 rounded text-white fw-bolder">@Model.forum.ReleaseDatetime.Value.ToShortDateString()</label>
                        <img src="~/icons/icons8-position-16.png" height="24" />
                        @foreach(var a in Model.fforumAddress.Distinct())
                        {
                             <label class="bg-warning p-1 rounded text-white fw-bolder">@a</label>
                        }
                </div>
                <div>
                        <img src="~/icons/icons8-tag-16.png" height="24" />
                        @foreach(var t in Model.trip_Tags)
                        {
                            <label class="bg-info p-1 rounded text-white fw-bolder"> #@t</label>
                        }
                        
                </div>
            </div>
            <div class="col-2 d-block">
                     <button id="showDialogBtn" class="btn my-btn-primary pr-2 pl-2 mr-2 w-100 mb-1" value="@Model.forum.Member.MemberId">聊聊</button>
                    <button id="otherArticles" class="btn btn-secondary col">其他揪團文</button>
                    <div id="showOtherArticles" class="showTop"></div>
            </div>
        </div>
            <div class="plan-container">
                <div class="comments-title bg-gray-200">
                    <p>揪團詳情</p>
                </div>
            </div>
            <img src="~/icons/icon-forum-1.png" /><span class="fw-bolder fs-5">包含行程</span>
            <div class="parent-container p-3 justify-content-around ">
                    @foreach (var imgs in Model.img_Paths)
                    {
                    <a asp-action="Product" asp-controller="Program" asp-route-id="@imgs.img_prodId">
                    <div class="child-div slideshow mx-3 card border-0 col-6" id="@imgs.img_prodId">
                        @foreach (var path in imgs.imgPaths)
                        {
                            <img class="img-fluid h-100 tripPhoto" src="~/images/@path" alt="" />
                        }
                        <div class="card-img-overlay p-0">
                            <div class="align-corner align-text-bottom p-4 h-100">
                                <span class="card-title fw-bolder text-light fs-5 text-wrap">@Model.articleTrips.First(t=>t.ProductId==imgs.img_prodId).Product.ProductName</span>
                            <p class="card-text fs-4 text-black fw-bolder text-light">TWD <span>@Model.articleTrips.First(t=>t.ProductId==imgs.img_prodId).UnitPrice</span><span class="card-text">起</span></p>
                                <p class="card-title text-light text-wrap">@Model.articleTrips.First(t=>t.ProductId==imgs.img_prodId).Product.OutlineForSearch</p>
                                <div class="rating-container">
                                        @if(Model.avgCommentScores.Count>0 )
                                        {
                                            <span class="rating-text text-light">評價：@Model.avgCommentScores.First(t=>t.commentProdId==imgs.img_prodId).commentScore.Value.ToString("0.0")</span>
                                            <div class="rating">
                                                <div class="stars">
                                                    <div class="star-container">
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            <div class="star @GetStarClass(Model.avgCommentScores.First(t=>t.commentProdId==imgs.img_prodId).commentScore.Value, i)"></div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <span class="rating-text text-light">評價：尚無評論</span>
                                        }

                                    
                                </div>
                        </div>
                        </div>
                    </div>
                    </a>
                    }
                

        </div>
                <div class="d-flex justify-content-center p-3 pl-4 fs-5">
                    <div class="col-10">@Html.Raw(Model.forum.Content)</div>
                </div>
            <div class="plan-container">
                <div class="comments-title bg-gray-200">
                    <p>體驗地點</p>
                </div>
                <div id="map" style="height:500px;width:509px;margin:5px auto;"></div>
            </div>
            <div name="activeForm" class="d-flex justify-content-around p-2 mt-2 mb-2 bg-gray-200">
            
            <div>
                <img src="~/icons/icons8-like-64.png" />
                    @if (Model.member != null)
                    {
                        var like = Model.likes.FirstOrDefault(l => l.MemberId == Model.member.MemberId);
                        if (like != null && (bool)like.IsLike)
                        {
                            <input id="btnCancelLike" class="btn btn-secondary" type="button" value="取消讚" />
                            <input id="btnLike" class="btn btn-light d-none" type="button" value="讚" />
                        }
                        else
                        {
                            <input id="btnCancelLike" class="btn btn-secondary d-none" type="button" value="取消讚" />
                            <input id="btnLike" class="btn btn-light" type="button" value="讚" />
                        }
                    }
                    else
                    {
                        <a id="confirmedLoginStatus" asp-action="Likes" asp-route-forumId="@Model.forum.ForumListId" class="btn btn-light">讚</a>
                    }
             </div>
             
            <div><img src="~/icons/icons8-talk-64.png" /><a href="#my-reply" id="btnReply">回覆</a></div>
            <div><img src="~/icons/icons8-group-64.png" />
                    @if (Model.member != null)
                    {
                        if(Model.forum.DueDate > DateTime.Now)
                        {
                            <!-- Button trigger modal -->
                            <button id="putInfoOnModal" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                我要跟團
                            </button>
                            <!-- Modal -->
                            <div class="modal fade overlay" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header my-bg-primary">
                                            <h1 class="modal-title fs-5  text-white" id="exampleModalLabel">確認揪團內容</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div id="infoBody" class="modal-body">
                                            <img src="/icons/beach-vacation.png" height="100" />
                                            <table class="table fs-5 table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-7">旅行項目</th>
                                                        <th class="col-3">旅行時間</th>
                                                        <th class="col-2">價格</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        decimal? total = 0;
                                                        decimal? discount = 0;
                                                        foreach (var trip in Model.articleTrips)
                                                        {
                                                            if (trip.Discount == null)
                                                            {
                                                                discount = 0;
                                                            }
                                                            decimal? tripPrice = trip.UnitPrice - discount;
                                                            total += tripPrice;
                                                            <tr>
                                                                <td>@trip.Product.ProductName</td>
                                                                <td>@trip.Date.Value.ToShortDateString()</td>
                                                                <td>@tripPrice</td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <td></td>
                                                            <td class="fw-bolder">總金額</td>
                                                            <td>$    @total</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary ml-1 fs-5" data-bs-dismiss="modal">再想一下</button>
                                            <a asp-action="ForumCheckout" asp-controller="Cart" asp-route-ForumListID="@Model.forum.ForumListId" asp-route-from="1" class="btn my-btn-primary ml-1 fs-5">結帳去</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-secondary" disabled="disabled">已截止</button>
                        }

                    }
                    else
                    {
                        <a id="confirmedLoginStatusJoin" asp-action="Join" asp-route-forumId="@Model.forum.ForumListId"  class="btn btn-light">我要跟團</a>
                    }
                
        </div>
        </div>
        <div id="replyBody">
                @if(Model.replys == null)
                {
                    <h2>尚未有評論</h2>
                }else
                {
                    @foreach (var reply in Model.replys)
                    {
                        <div class="d-flex divide-line-top" id="reply-@reply.ReplyId">
                            <div>
                                @if (reply.Member.ImagePath != null)
                                {
                                    <img src="~/images/@reply.Member.ImagePath" class="my-w100-h100" alt="@reply.MemberId">
                                }
                                else
                                {
                                    if (reply.Member.Photo != null)
                                {
                                    <img src="data:image/jpg;base64,@Convert.ToBase64String(reply.Member.Photo)" class="my-w100-h100" alt="@reply.MemberId">
                                }
                                else
                                {
                                    if (reply.Member.Gender == "男")
                                    {
                                        <img src="~/icons/icons8-person-100.png" class="my-w100-h100" alt="null">
                                    }
                                    else
                                    {
                                        <img src="~/icons/icons8-person-female-100.png" class="my-w100-h100" alt="null">
                                    }
                                }
                                }
                                

                            </div>
                            <div class="col">
                                <h4>@reply.Member.LastName@reply.Member.FirstName</h4>
                                <div>
                                    <span>回覆日期 : @reply.Replytime.ToString()</span>
                                </div>
                                <div>
                                    <p>@reply.Content</p>
                                </div>
                            </div>
                        </div>
                    }
                }
        </div>
        <div class="pl-4 pr-4">
            <form name="replyForm">
                    @if(Model.member != null)
                    {
                        <input type="hidden" name="ForumListId" value="@Model.forum.ForumListId" />
                        <input type="hidden" name="MemberId" value="@Model.member.MemberId" />
                        <input type="hidden" name="ReplyTime" value="@DateTime.Now"/>
                        @Html.Partial("ReplyToDiv",Model)
                        
                    }else{
                        <div class="p-4 d-flex justify-content-center">
                            <span class="fs-5">登入後即可回覆文章!</span>
                            <a asp-action="Login" asp-controller="Login" class="ml-2 fs-5 link-info fw-bold">登入</a>
                        </div>
                    }
                    
            </form>
    </div>
            @if(Model.member != null)
            {
                <a asp-action="forumList" asp-controller="Member">返回會員專區</a>
            }
        </div>
</div>
    @if (Model.member != null)
    {
        <input id="isLogin" type="hidden" value="@Model.member.MemberId" />
    }
    else
    {
        <input id="isLogin" type="hidden" />
    }
    @if (Model.returnStatus != null)
    {
        if(Model.returnStatus == 0)
        {
            <input type="hidden" id="returnStatus" value="0" />
        }
        else if ((Model.returnStatus == 1))
        {
            <input type="hidden" id="returnStatus" value="1" />
        }
    }
    

    
    
    @* <div id ="dialogBox" class="dialog-box">
    <div class="dialog-content">
        <div class="d-flex justify-content-between align-items-center bg-gray-300">
            <span>與 <span class="fw-bold text-black">@Model.forum.Member.FirstName</span> 聊聊中</span>
            <img id="btnCloseTalk" src="~/icons//icons8-x-30.png" />
        </div>
        <h3>這是對話視窗的內容</h3>
        <p>你可以在這裡放置任何內容。</p>
    </div>
</div> *@
</div>

@section Scripts{
    <script>
        $('#btnDemoReply').on('click', function (e) {
            e.preventDefault()
            $('#replyContent').text("這個行程好棒,我要+1!")
        })
    </script>
    <script>
        //結帳成功後回到發文頁面會跳成功通知
        document.addEventListener("DOMContentLoaded",function(){
            var createStatusInput = document.getElementById("returnStatus");
            if (createStatusInput) {
                var createStatusValue = createStatusInput.value;
                if (createStatusValue === "0"){
                    publishArticle()
                }
                if(createStatusValue === "1"){
                    joinSchedule()
                }
            }
        })
    
        //發布
        function publishArticle() {
            Swal.fire({
                icon: 'success',
                title: '發布成功!',
                showConfirmButton: false,
                timer: 1500
            })
        }
        //跟團
        function joinSchedule() {
            Swal.fire({
                icon: 'success',
                title: '跟團成功!',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>




    <script>
        $('#btnCloseTalk').on('click', () => {
            $('#dialogBox').hide()
        })
    </script>
    <script src="~/js/wait_icon_function.js"></script>
    <script>
        const $showOtherArticles = $('#showOtherArticles');
        $showOtherArticles.hide()
        //查看此發文者的其他文章
        var memeberId = @Model.forum.MemberId
            $('#otherArticles').on('click', async function () {
                const response = await fetch(`@Url.Content("~/Forum/ViewOtherArticle")?memberId=${memeberId}`)
            const datas = await response.json();
            if (datas != null) {
                console.log(datas)
                const forums = datas.map(forum => {
                        const { title, likeCount, watches, releaseDatetime, forumListId, prodPhotoPath } = forum
                    return (
                            `<a href="@Url.Content("~/Forum/ArticleView")?id=${forumListId}" class="list-group-item list-group-item-action">
                            <div class="d-flex">        
                                <div class="col-4">
                                            <img src="/images/${prodPhotoPath}" class="img-fluid img-thumbnail"/>
                                    </div> 
                                    <div class="col-8 pt-2">
                                 <h5>${title}</h5>
                                        <img src = "/icons/icons8-like-24.png" height="16"/> <span>${likeCount} | </span>
                                <img src= "/icons/icons8-eye-24.png" height="16"/> <span>${watches} | </span>
                                <span>發文時間 : ${releaseDatetime}</span>
                                </div>
                            </div>
                        </a>`
                    )
                }) 
                    const newHtml = forums.join("");
                    $showOtherArticles.html(newHtml);
                    // 切換顯示/隱藏
                    $showOtherArticles.toggle();
            }
        })


    </script>
    <script>
        /********還沒登入去登入********/
        function loginInfo() {
            Swal.fire({
                icon: 'info',
                title: '請先登入會員!',
                showConfirmButton: true,
                confirmButtonText: '前往登入頁面', // 修改確認按鈕文字
            })
        }
        var isLoggedIn = $('#loginMem').text()
        //for按讚
        $('#confirmedLoginStatus').on('click', function () {
            if (!isLoggedIn) {
                loginInfo();
            }
        });
        //for跟團
        $('#confirmedLoginStatusJoin').on('click', function () {
            if (!isLoggedIn) {
                loginInfo();
            }
        });
       /*****按讚/取消讚*****/
        
         $('#btnLike').click(function (b) {
            b.preventDefault();
            $.post('@Url.Content("~/Forum/Likes")', { "forumId": @Model.forum.ForumListId, "memId": $('#isLogin').val(), "status": 0 }, function (e) {
                $('#likes').text(e+'　|')
                $('#btnLike').addClass("d-none")
                $('#btnCancelLike').removeClass("d-none")
            })
        })
        $('#btnCancelLike').click(function (b) {
            b.preventDefault();
            $.post('@Url.Content("~/Forum/Likes")', { "forumId": @Model.forum.ForumListId, "memId": $('#isLogin').val(), "status": 1 }, function (e) {
                $('#likes').text(e + '　|')
                $('#btnCancelLike').addClass("d-none")
                $('#btnLike').removeClass("d-none");
            })
        })
        
      
      /******留言區即時更新**** */
        var isLogin = $('#isLogin').val()
              if (isLogin){
            const btnSubmit = document.querySelector('#btnSubmit')
            const replyContent = document.querySelector('#replyContent')
            btnSubmit.addEventListener('click', event => {
                event.preventDefault();
                const formData = new FormData(document.replyForm);
                fetch('@Url.Content("~/Forum/ReplyTo")', {
                    body: formData,
                    method: "post"
                }).then(response => {
                    
                    if (response.ok) {
                        $('#replyBody').load('@Url.Content("~/Forum/Replied")' + '?id=' + @Model.forum.ForumListId)
                        replyContent.value = "";
                        var replies = document.querySelector('#replies');
                        var currentCount = parseInt(replies.textContent);
                        // 將數字加一
                        var newCount = currentCount + 1;
                        // 更新 <label> 的內容
                        replies.textContent = newCount;
                    } else {
                        alert('新增失敗,請確認資料')
                    }
                })
            })
      }
        

        /******GoogleAPI**** */
        const googleMapsScript = document.createElement("script");
        googleMapsScript.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbcL3X1HudqP8Ej1YhYQlzE9Oy3frc-rc&callback=initMap";
        document.head.appendChild(googleMapsScript);

        const addressData = @Html.Raw(Json.Serialize(Model.fforumAddress));
        console.log(addressData)

        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 23.9, lng: 120.9 },
                zoom: 7,
            });

            const geocoder = new google.maps.Geocoder();

            for (const address of addressData) {
                geocoder.geocode({ address: address }, (results, status) => {
                    if (status === google.maps.GeocoderStatus.OK) {
                        const latitude = results[0].geometry.location.lat();
                        const longitude = results[0].geometry.location.lng();
                        const Latlng = new google.maps.LatLng(latitude, longitude);

                        new google.maps.Marker({
                            position: Latlng,
                            map: map,
                        });
                    } else {
                        console.error(status);
                    }
                });
            }
        }


        // 點擊按鈕時顯示對話視窗
        document.getElementById('showDialogBtn').addEventListener('click', function () {
            document.getElementById('dialogBox').style.display = 'block';
        });


        $(document).on('click', '#showDialogBtn', function () {
            var id = $(this).val();
            connection.invoke("SelectSupplier", id)
        });



    </script>
    <script>
        //方案圖片輪播動畫
        $('.slideshow').each(function () {

            let slideImgs = $(this).find('.tripPhoto'),
                slideImgsCount = slideImgs.length,
                currentIndex = 0;

            slideImgs.eq(currentIndex).fadeIn();

            setInterval(showNextSlide, 5000);

            function showNextSlide() {
                let nextIndex = (currentIndex + 1) % slideImgsCount;
                //console.log(nextIndex)
                slideImgs.eq(currentIndex).fadeOut();
                slideImgs.eq(nextIndex).fadeIn();
                currentIndex = nextIndex;
            }
        })
    </script>
}

@functions {
    public string GetStarClass(double? rating, int index)
    {
        if (rating.HasValue)
        {
            int filledStars = (int)Math.Floor(rating.Value);
            double remainder = rating.Value - filledStars;
            if (index <= filledStars)
            {
                return "active";
            }
            else if (index == filledStars + 1 && remainder >= 0.5)
            {
                return "half-filled";
            }
        }
        return "";
    }
}
