@using prj_Traveldate_Core.ViewModels;
@model CForumListViewModel
@foreach (var article in Model.schedules)
{
    var schedule_tag = Model.productTags.Where(tag => article.trips.Any(trip => tag.ProductId == trip.ProductId)).ToList();

    <a asp-action="ArticleView" asp-route-id="@article.forumListId" class="my-article-item text-secondary">
        <div class="col-2 m-1 p-0">
            @{
                var imgPath = article.trips
                .Select(trip => Model.prodPhoto
                .FirstOrDefault(p => p.prodId == trip.ProductId)?.prodPhotoPath)
                .FirstOrDefault(); // 只取第一個有效的路徑
            }

            @if (!string.IsNullOrEmpty(imgPath))
            {
                <img class="img-fluid img-thumbnail " src="~/images/@imgPath" alt="@article.trips.Select(t=>t.Product.ProductName).First()" />
            }
        </div>

        <div class="rounded bg-gray-100 col-5 m-1 d-flex row p-0">
            <p class="pt-1 fs-5 fw-bold text-black">@article.ForumList.Title</p>
            @{
                HashSet<string> displayedCities = new HashSet<string>();
            }
            <div>
                <img src="~/icons/icons8-position-16.png" />
                @foreach (var c in article.trips)
                {
                    if (!displayedCities.Contains(c.Product.City.City))
                    {
                        <label class="bg-gradient-warning fw-bolder rounded text-light p-1">@c.Product.City.City</label>
                        displayedCities.Add(c.Product.City.City);
                    }
                }

            </div>
            <div>
                @{
                    HashSet<string> displayedTags = new HashSet<string>();
                }
                <img src="~/icons/icons8-tag-16.png" />
                @foreach (var tags in schedule_tag.Distinct())
                {
                    if (!displayedTags.Contains(tags.ProductTagDetails.ProductTagDetailsName))
                    {
                        <label id="@tags.ProductTagDetailsId" class="bg-gradient-info fw-bolder rounded text-light p-1">#@tags.ProductTagDetails.ProductTagDetailsName</label>
                        displayedTags.Add(tags.ProductTagDetails.ProductTagDetailsName);
                    }
                }

            </div>
            <div class="">
                @{
                    var memLevel = article.ForumList.Member.Level.Level;
                }
                @switch (memLevel)
                {
                    case "黑鑽會員":
                        <img src="~/icons/level_dimond48.png" height="24">

                        <label class="my-sm-text text-black fw-bolder p-0">@article.ForumList.Member.Level.Level</label>
                        break;
                    case "白銀會員":
                        <img src="~/icons/level-slover-50.png" height="24">
                        <label class="my-sm-text fw-bolder p-0">@article.ForumList.Member.Level.Level</label>
                        break;
                    case "黃金會員":
                        <img src="~/icons/level-gold-50.png" height="24">
                        <label class="my-sm-text text-warning fw-bolder p-0">@article.ForumList.Member.Level.Level</label>
                        break;
                    default:
                        <label class="my-sm-text fw-bolder p-0">@article.ForumList.Member.Level.Level</label>
                        break;
                }


                <label class="my-sm-text fw-bolder p-0 text-black"> | @article.ForumList.Member.LastName@article.ForumList.Member.FirstName</label>
                <label class="my-sm-text fw-bolder p-0 "><img src="~/icons/icons8-calendar-32.png" height="24" />發起時間 : @article.ForumList.ReleaseDatetime.Value.ToString("yyyy/MM/d")</label>
            </div>
        </div>
        <div class="rounded bg-gray-100 col-2 m-1 pt-1 ">
            <p class="  fw-bolder text-black">回覆數 : @article.ForumList.ReplyLists.Where(r=>r.ForumListId==article.forumListId ).Count()</p>
            @if (article.ForumList.DueDate.HasValue && article.ForumList.DueDate.Value >= DateTime.Now)
            {
            if (article.numStock == 1)
            {
                <p class="pt-1  fw-bolder text-black">名額現況 : @article.strStock</p>
                <span class="fw-bolder bg-gradient-secondary text-white rounded-pill p-1 fs-6">額滿</span>
            }
            else if (article.numStock > 0.05 && article.numStock < 1 && article.ForumList.DueDate > DateTime.Now)
            {
                <p class="pt-1  fw-bolder text-black">名額現況 : @article.strStock</p>
                <span class="fw-bolder bg-gradient-info text-white rounded-pill p-1 fs-6">即將額滿</span>
            }
            else
            {
                <p class="pt-1  fw-bolder text-black">名額現況 : @article.strStock</p>
            }
            }
        </div>
        <div class="rounded bg-gray-100 col-2 m-1">
            <p class="pt-1  fw-bolder text-black">截團日期 : </p>
            @if (article.ForumList.DueDate.HasValue && article.ForumList.DueDate.Value < DateTime.Now)
            {
                <div class="d-flex">
                    <del class=" text-gray-900 fw-bolder">@article.ForumList.DueDate.Value.ToString("yyyy/MM/d")</del>
                </div>
                <div>
                    <span class="fw-bolder bg-gradient-secondary text-white rounded-pill p-1">已截止報名</span>
                </div>
            }
            else if (article.ForumList.DueDate > DateTime.Now && (article.ForumList.DueDate.Value - DateTime.Now).TotalDays < 15)
            {
                <div class="d-flex justify-content-center fw-bolder"><img src="~/icons/icons8-hourglass-32.png" width="24" height="24" /><p class=" text-danger">@article.ForumList.DueDate.Value.ToString("yyyy/MM/d")</p></div>
                <div>
                    <span class=" fw-bolder bg-gradient-danger text-white rounded-pill p-1">即將截止</span>
                </div>
            }
            else
            {
                <p class="my-text-secondary fw-bolder">@article.ForumList.DueDate.Value.ToString("yyyy/MM/d")</p>
                <div>
                    <span class="fw-bolder bg-gradient-info text-white rounded-pill p-1">報名中</span>
                </div>
            }

        </div>

    </a>
}
<div class="d-flex justify-content-center bg-transparent border-0">
    <div class="col-7 d-flex justify-content-around">
        <div class="pagination-container">
            <div class="pagination">
                @{
                    int pageCount = (int)Math.Ceiling((double)Model.totalCount / Model.pageSize); // 計算總頁數
                    int currentPage = Model.currentPage; /* 取得當前頁碼 */

                    if (pageCount > 1)
                    {
                        if (currentPage > 1)
                        {
                                <a href="#" class="page-link-cust" data-page="1">@Html.Raw("&lt;")</a>
                        }
                        for (int i = 1; i <= pageCount; i++)
                        {
                            if (i != currentPage)
                            {
                                    <a href="#" class="page-link-cust" data-page="@i">@i</a>
                            }
                            else
                            {
                                    <span class="page-link-cust active">@i</span>
                            }
                        }

                    }
                    if (pageCount >= 2 && currentPage != @pageCount)
                    {
                            <a href="#" class="page-link-cust" data-page="@pageCount">@Html.Raw("&gt;")</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<input id="updateTotal" type="hidden" value="@Model.totalCount" />
<script>
    
    $(".pagination>a").on("click", function (e) {
        e.preventDefault();
        pageNumber = $(this).data("page");
        filteredByConditions()
    });
</script>