@{
    ViewData["Title"] = "首頁";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Traveldate旅遊平台 </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/prj_Traveldate_Core.styles.css" asp-append-version="true" />*@
   
   
    <link rel="stylesheet" href="~/css/PhotoStyle.css">
    <link rel="stylesheet" href="~/css/ProgramStyle.css">
    <link rel="stylesheet" href="~/css/CalendarStyle.css">
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xrW3VHgR0BXeG3xW1BLlM4/lnz5Bs6mV1KMd5fTXhO+UZmaJV6frFxDY6jXH+U/MkgeFFJdh9txbtozwY9TMw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/multiRange.css" rel="stylesheet" />
    <link href="~/css/calendar-style.css" rel="stylesheet" />
    <link href="~/css/search.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

    <link href="~/css/nav.css" rel="stylesheet" />

    @*<script src="~/js/modernizr-2.8.3.js"></script>*@
    
    <!-- Custom fonts for this template-->
    <link href="~/Template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
   
    <!-- Custom styles for this template-->
    <link href="~/Template/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
   
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    
    
    <link rel="stylesheet" href="~/css/MyCSS.css" />
    <link href="~/css/multiRange.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/chatboxstyle.css">
    <!-- MemberArea styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


    @await RenderSectionAsync("Styles", required: false)
    <link href="~/css/search.css" rel="stylesheet" />




   
  
</head>
<body>
    @using prj_Traveldate_Core.Models.MyModels;
    
    <div id="all-container">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm fixed-top pt-0 pb-0 fs-5">
            <div class="container-fluid justify-content-start">
                <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="HomePage"><img src="~/icons/logo-text-v6.png" width="300" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex row col-7 pl-5">
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav flex-grow-1 justify-content-start">
                        <li class="nav-item mr-2">
                            <a asp-area="" asp-controller="HomePage" asp-action="HomePage">首頁</a>
                        </li>
                            <li class="nav-item mr-2">
                            <a asp-area="" asp-controller="HomePage" asp-action="Intro">關於我們</a>
                            </li>
                            <li class="nav-item mr-2">
                                <a href="#contact-us">聯絡我們</a>
                            </li>
                            <li class="nav-item mr-2">
                                <a asp-area="" asp-controller="Search" asp-action="SearchList">找景點</a>
                            </li>
                            <li class="nav-item mr-2">
                                <a asp-area="" asp-controller="Forum" asp-action="ForumList">找揪團</a>
                            </li>   
                    </ul>
                </div>
                </div>
                <ul class="navbar-nav flex-grow-1 col-5">
                    <li>
                        @{
                            
                                string memName = Context.Session.GetString(CDictionary.SK_LOGGEDIN_USER_NAME);
                                string comName = Context.Session.GetString(CDictionary.SK_LOGGEDIN_COMPANY_NAME);
                                string empName = Context.Session.GetString(CDictionary.SK_LOGGEDIN_EMPLOYEE_NAME);
                        }
                        </li>
                        @if (!string.IsNullOrEmpty(memName))
                        {
                            <li class="nav-item mr-3">
                                <a asp-area="" asp-controller="Member" asp-action="Index">
                                    <img src="~/icons/icons8-login-member-layout.png" height="36" />
                                    <span id="loginMem">歡迎 ! @memName</span>
                                </a>
                            </li>
                            <li class="nav-item mr-3">
                                <a asp-area="" asp-controller="Cart" asp-action="ShoppingCart">
                                    <div class="m-0 p-0 position-relative">
                                        <img src="~/icons/icons8-cart-96.png" height="36" />
                                        <span id="CartBagde" class="position-absolute top-0 start-25 translate-middle">
                                        </span><span class="ml-2">購物車</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mr-2">
                                <a asp-area="" asp-controller="Login" asp-action="Logout">
                                    <img src="~/icons/icons8-logout-48.png" height="36" />登出
                                </a>
                            </li>
                        }
                        else if (!string.IsNullOrEmpty(comName))
                        {
                            <li class="nav-item mr-2">
                                <a asp-area="" asp-controller="Dashboard" asp-action="List">
                                    <img src="~/icons/icons8-company-login-layout.png" height="36" />
                                    <span>歡迎 ! @comName</span>
                                </a>
                            </li>
                            <li class="nav-item mr">
                                <a asp-area="" asp-controller="Login" asp-action="Logout" class="cart">
                                    <img src="~/icons/icons8-logout-48.png" height="36" />登出
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item mr-2">
                                <a asp-area="" asp-controller="Login" asp-action="Login">會員登入</a>
                            </li>
                            <li class="nav-item mr-2">
                                <a asp-area="" asp-controller="Login" asp-action="CompanyLogin">旅行社登入</a>
                            </li>
                        }


                       
                    </ul>
              @if (!string.IsNullOrEmpty(memName))
                    {
                        <input type="hidden" id="memlogin" value="true">
                    }
                </div>
        </nav>
    </header>
    
    <div class="container-fluid p-0 nav-height-mt">
        @await RenderSectionAsync("TopImage", required: false)
        <div class="d-flex justify-content-center">
        <main role="main" class="pb-3 mt-3 col-9">
            @RenderBody()
        </main>
        </div>
    </div>

        @* <div class="dialog-box">
            <div class="d-flex justify-content-between align-items-center bg-gray-300 category-click">
               <span class="fw-bold text-black ">與123聊聊中</span>
            </div>
        
        <div class="chat_box filter-block-toggle">
            <div id="chatRoom" class="chat_message">
                <div class="message_row you-message">
                    <div class="message-content">
                        <div class="message-text">Ok then</div>
                        <div class="message-time">09/23 10:16</div>
                    </div>
                </div>
                <div class="message_row other-message">
                    <div class="message-content">
                        <img class="head" src="img/friends/David.png" alt="">
                        <div class="message-text">推薦給你一張漂亮的底圖...</div>
                        <div class="message-time">09/23 10:16</div>
                    </div>
                </div>
                <div class="message_row other-message">
                    <div class="message-content">
                        <img class="head" src="img/friends/David.png" alt="">
                        <!-- <div class="message-text"></div> -->
                        <img class="ejIcon" src="img/emoji/like.png" alt="">
                        <div class="message-time">09/23 10:16</div>
                    </div>
                </div>
                <div class="message_row other-message">
                    <div class="message-content">
                        <img class="head" src="img/friends/David.png" alt="">
                        <div class="message-text">推薦給你一張漂亮的底圖...</div>
                        <div class="message-time">09/23 10:16</div>
                    </div>
                </div>
                <div class="message_row other-message">
                    <div class="message-content">
                        <img class="head" src="img/friends/David.png" alt="">
                        <div class="message-text">推薦給你一張漂亮的底圖...</div>
                        <div class="message-time">09/23 10:16</div>
                    </div>
                </div>



            </div>
            <div class="chat_input">
                <input class="sendMsg" type="text" placeholder="請輸入訊息">
                <div class="myIcon2">
                    <i class="fa fa-share send_icon"></i>
                </div>
            </div>
        </div>
        </div> *@
        <input id="LayoutMemberID" type="hidden" value="@Context.Session.GetString(CDictionary.SK_LOGGEDIN_USER)" />
       
        <div id="dialogBox" class="dialog-box d-none">
            <div class="dialog-content">
                <div class="d-flex justify-content-between align-items-center bg-gray-300">
                    <span class="fw-bold text-black ">即時訊息</span>
                    @* <img src="~/icons/mail.png" style="height:24px;width:24px;display:none" id="mail" /> *@
                 </div>
                <div class="chat_box">
                    <div id="chatRoom" class="chat_message">
   
                        <input type="hidden" id="sendToID" />
                        <input type="hidden" id="myID"/>

                    </div>
                    <div class="chat_input">
                        
                        <input id="message" class="sendMsg" type="text" placeholder="請輸入訊息">
                        <div class="myIcon2" id="sendButtonLayout">
                            <i class="fa fa-share send_icon"></i>
                        </div>
                        <button type="button" id="main" style="font-size:10px;width:50px;" class="my-btn-primary rounded border-0 mr-1">主揪</button>
                        <button type="button" id="sub" style="font-size:10px;width:50px;" class="my-btn-primary rounded border-0">跟團</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-icon2">
        <img src="~/icons/chatbox.png" id="dialogicon" />
            <span id="ChatBoxBagde" class="position-absolute dialog-Bagde translate-middle p-3">
             </span>
        </div>
    <footer id="contact-us">
        <div>
            <p class="m-0">TravelDate</p>
            <p class="m-0">&copy; 2023 旅遊網站。保留所有權利。</p>
            <p class="m-0">公司名稱:TravelDate</p>
            <p class="m-0">聯絡人:陳某某 電話: 0922222222</p>
            <p class="m-0">Mail: TravelDate@gmail.com 地址:台北市復興南路一段390號2樓</p>
            <p class="m-0">服務時間: 週一到週六 9:00-18:00 (例假日另行公告)</p>
        </div>
        <div class="social-icons">
            <a href="https://lin.ee/ByE5Zxc" target="_blank" title="關注我們的Line"><img src="~/icons/icons8-line-48.png" alt="Line" width="50" height="50" style="border-radius: 10px;"></a>
            <a href="https://www.facebook.com/profile.php?id=100054566854191" target="_blank" title="關注我們的Facebook"><img src="~/icons/icons8-facebook-48.png" alt="Facebook" width="50" height="50" style="border-radius: 10px;"></a>
            <a href="#" target="_blank" title="關注我們的Instagram"><img src="~/icons/icons8-instagram-48.png" alt="Instagram" width="50" height="50" style="border-radius: 10px;"></a>
        </div>
        </footer>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
       <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/js/sb-admin-2.min.js"></script>
    <script src="~/Template/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/Myjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

        <script src="~/js/signalr/dist/browser/signalr.js" id="dialogicon"></script>
  
        <script>
            var memberID = $("#LayoutMemberID").val();
            if (memberID != ""){
              var connection = new signalR.HubConnectionBuilder().withUrl("/layoutChatHub").build();
        console.log(connection);
            connection.start().then(function () {
               console.log("Hub 連線完成");
                connection.invoke('UpdateUserInfo', memberID);
            }).catch(function (err) {
                alert('連線錯誤: ' + err.toString());
            });

  connection.on("UpdReceiveContent", function (msg) {
            // 創建一個新的 <div class="message_row you-message"> 元素
            var messageRow = $('<div class="message_row other-message"></div>');

            // 創建消息內容 <div class="message-content">
            var messageContent = $('<div class="message-content"></div>');

            // 創建消息文本 <div class="message-text">，並將 msg 放入
            var messageText = $('<div class="message-text"></div>').text(msg);

            // 創建時間 <div class="message-time">，並將當前時間放入
            var currentTime = new Date();
            var formattedTime = currentTime.toLocaleString();
            var messageTime = $('<div class="message-time"></div>').text(formattedTime);

            // 將消息文本和消息時間添加到消息內容中
            messageContent.append(messageText);
            messageContent.append(messageTime);

            // 將消息內容添加到消息行中
            messageRow.append(messageContent);

            // 將整個消息行添加到 ID 為 "chatRoom" 的元素中
            $("#chatRoom").append(messageRow);
           

        });
        connection.on("UpdSendContent", function (msg) {
            //$("#chatRoom").append($("<div></div>").attr("class", "message-text").text(msg));

            // 創建一個新的 <div class="message_row you-message"> 元素
            var messageRow = $('<div class="message_row you-message"></div>');

            // 創建消息內容 <div class="message-content">
            var messageContent = $('<div class="message-content"></div>');

            // 創建消息文本 <div class="message-text">，並將 msg 放入
            var messageText = $('<div class="message-text"></div>').text(msg);

            // 創建時間 <div class="message-time">，並將當前時間放入
            var currentTime = new Date();
            var formattedTime = currentTime.toLocaleString();
            var messageTime = $('<div class="message-time"></div>').text(formattedTime);

            // 將消息文本和消息時間添加到消息內容中
            messageContent.append(messageText);
            messageContent.append(messageTime);

            // 將消息內容添加到消息行中
            messageRow.append(messageContent);

            // 將整個消息行添加到 ID 為 "chatRoom" 的元素中
            $("#chatRoom").append(messageRow);
           
        });

        //傳送訊息
            $('#sendButtonLayout').on('click', function () {
            let myID = $('#myID').val();
            let message = $('#message').val();
            let sendToID = $('#sendToID').val();
            
            connection.invoke("SendMessage", myID, message, sendToID).catch(function (err) {
                alert('傳送錯誤: ' + err.toString());
            });
        });

        connection.on("UpdateSupplierID", function (msg, SupplierID,myID) {
            //$("#chatRoom").append($("<div></div>").attr("class", "message-text").text(msg));

            // 創建一個新的 <div class="message_row you-message"> 元素
            var messageRow = $('<div class="message_row you-message"></div>');

            // 創建消息內容 <div class="message-content">
            var messageContent = $('<div class="message-content"></div>');

            // 創建消息文本 <div class="message-text">，並將 msg 放入
            var messageText = $('<div class="message-text"></div>').text(msg);

            // 創建時間 <div class="message-time">，並將當前時間放入
            var currentTime = new Date();
            var formattedTime = currentTime.toLocaleString();
            var messageTime = $('<div class="message-time"></div>').text(formattedTime);

            // 將消息文本和消息時間添加到消息內容中
            messageContent.append(messageText);
            messageContent.append(messageTime);

            // 將消息內容添加到消息行中
            messageRow.append(messageContent);

            // 將整個消息行添加到 ID 為 "chatRoom" 的元素中
            $("#chatRoom").append(messageRow);


            $('#sendToID').val(SupplierID);
            $('#myID').val(myID);
                $("#ChatBoxBagde").addClass("bg-danger border border-light rounded-circle");
        });

        connection.on("UpdateCustomerID", function (msg, CustomerID,myID) {
            //$("#chatRoom").append($("<div></div>").attr("class", "message-text").text(msg));

            // 創建一個新的 <div class="message_row you-message"> 元素
            var messageRow = $('<div class="message_row other-message"></div>');

            // 創建消息內容 <div class="message-content">
            var messageContent = $('<div class="message-content"></div>');

            // 創建消息文本 <div class="message-text">，並將 msg 放入
            var messageText = $('<div class="message-text"></div>').text(msg);

            // 創建時間 <div class="message-time">，並將當前時間放入
            var currentTime = new Date();
            var formattedTime = currentTime.toLocaleString();
            var messageTime = $('<div class="message-time"></div>').text(formattedTime);

            // 將消息文本和消息時間添加到消息內容中
            messageContent.append(messageText);
            messageContent.append(messageTime);

            // 將消息內容添加到消息行中
            messageRow.append(messageContent);

            // 將整個消息行添加到 ID 為 "chatRoom" 的元素中
            $("#chatRoom").append(messageRow);

            $('#sendToID').val(CustomerID);
            $('#myID').val(myID);
                $("#ChatBoxBagde").addClass("bg-danger border border-light rounded-circle");
        });

            }

        $('#sub').click(function () {
                $('#message').val('你好，我對您的揪團行程有興趣，只可惜我當天有事不克前往，請問還會再開團嗎?');
             });

        $('#main').click(function () {
            $('#message').val('你好，感謝你對我行程的支持，我近期還會再開團');
        });

            $('#dialogicon').click(function () {

                if ($('#dialogBox').hasClass('d-none')) {
                    $('#dialogBox').removeClass('d-none');
                }
                else { 
                $('#dialogBox').addClass('d-none');
                }
            $("#ChatBoxBagde").removeClass("bg-danger border border-light rounded-circle");
            });

        //傳送訊息
        //$('#sendButtonLayout').on('click', function () {
        //    let myID = $('#myID').html();
        //    let message = $('#message').val();
        //    let sendToID = $('#sendToID').val();
            
        //    connection.invoke("SendMessage", myID, message, sendToID).catch(function (err) {
        //        alert('傳送錯誤: ' + err.toString());
        //    });
        //});

        
          

        </script>
    
    
    @await RenderSectionAsync("Scripts", required: false)
    @*Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
    <!-- Bootstrap core JavaScript-->
    @*<script src="~/Template/vendor/jquery/jquery.min.js"></script>*@
    

    <!-- Core plugin JavaScript-->
    @*<script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>*@

    <!-- Custom scripts for all pages-->
    

    <!-- Page level plugins -->
    

    

    <!-- MemberController - passwordChange -->
    

        


        <script>
            $(document).ready(function() {
                if ($('#memlogin').val()=='true'){
                    $.get('@Url.Content("/CartApi/GetCartCount")',  function (data) {
                        $('#CartBagde').addClass(" badge rounded-pill bg-warning text-dark");
                        $('#CartBagde').text(data);
                    })
                }
            })

        </script>


    </div>
</body>
</html>
