@model prj_Traveldate_Core.Models.MyModels.CCommentListWrap
@{
    ViewData["Title"] = "addcomment";
}

<div class="container mt-2" style="justify-content:space-between;display:flex">
@*     <div class="row"> *@
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">
                    <div class="cell d-flex flex-column">
                        @*                      原本load二進位的頭像圖片用
                        @{
                        if (ViewBag.photo != null)
                        {
                        <div style="text-align:center;background-color:white;border-radius:10px">
                        <img src="@ViewBag.PhotoBase64" width="150" height="150" />
                        </div>
                        }
                        else
                        
                        <img src="~/icons/User profile - border vector image.png" style="width: 150px; height" alt="noimage" />
                        }
                        } *@
                    @{
                        if (ViewBag.image != null)
                        {
                            <div style="text-align:center;background-color:white;border-radius:10px">
                                <img src="~/images/@ViewBag.image" width="150" height="150" />
                            </div>
                        }
                        else
                        {
                            <div style="text-align:center;background-color:white;border-radius:10px">
                                <img src="~/icons/User profile - border vector image.png" width="150" height="150" />
                            </div>
                        }
                    }
                    </div>
                <ul class="list-group leftarea mt-3" style="font-size:18px;font-weight:600">
                    <li class="list-group-item menuItem" data-content="subItem1"> <span><img style="height:50px;width:45px;padding-bottom:5px" src="~/icons/icon-hi-2(member).gif" /></span><b style="font-weight:bolder;font-size:20px;font-weight:600;padding-top:-50px">@ViewBag.LastName@ViewBag.firstName</b></li>

                            @{
                                if (ViewBag.level == "黑鑽會員")
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke"><span><img style=" height:30px;width:30px;padding-bottom:5px" src="~/icons/level_dimond48.png" /></span><b>@ViewBag.level</b></li>
                                }
                                else if (ViewBag.level == "黃金會員")
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke"><span><img style=" height:40px;width:40px;padding-bottom:5px" src="~/icons/level-gold-50.png" /></span><b>@ViewBag.level</b></li>
                                }
                                else if (ViewBag.level == "白銀會員")
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke"><span><img style=" height:40px;width:40px;padding-bottom:5px" src="~/icons/level-slover-50.png" /></span><b>@ViewBag.level</b></li>
                                }
                                else
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke; margin-top:-10px">@ViewBag.level </li>
                                }
                            }
                        </ul>

                    </div>
                    <div class="cell" id="div2">
                <ul class="list-group leftarea lgmenu mt-3 " style="font-size:20px;font-weight:600;">
                            <li class="list-group-item menuItem">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                    <li class="list-group-item menuItem">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link",@style="margin-left:-5px"}) </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countscoupon</span>
                            </li>
                    <li class="list-group-item menuItem">@Html.ActionLink("常用旅伴", "showCompanion","Member","",new {@class="black-link",@style="margin-left:-5px"}) </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countsfavorite</span>
                            </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countsorder</span>
                            </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countscomment</span>
                            </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.ForumLists</span>
                            </li>
                    <li class="list-group-item menuItem">
                        @Html.ActionLink("樂旅Chat", "SignalR","Member","",new {@class="black-link"})
                        @* <span class="badge rounded-pill bg-danger">@ViewBag.ForumLists</span> *@
                        <span><img style="width:30px;height:25px" src="~/icons/icon-chat-2.gif" /></span>
                    </li>
                        </ul>
                    </div>
                </div>
            </div>
    <!-- ↑↑↑左半邊 - 內容容器↑↑↑ -->
    <!-- ↓↓↓右半邊 - 內容容器↓↓↓ -->
    <div id="rightPanel"  class="col-md-9">
                <form asp-action="addcomment" enctype="multipart/form-data">                
                @* using (Html.BeginForm("addcomment", "Member", FormMethod.Post))
                { *@
                    <h3 class="mb-4"><b>新增評論</b></h3>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/HomePage/HomePage">首頁</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="~/Login/Login"> 會員登入</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="~/Member/index"> 會員專區</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="~/Member/orderList"> 會員訂單</a></li>
                            <li class="breadcrumb-item active" aria-current="page">新增評論</li>
                        </ol>
                    </nav>
                    <h3></h3>
                    <i class='fas fa-edit' style='font-size:24px'><span> 熱評從你開始</span></i>
                    <hr />

                    <div class="form-group">
@*                      <label  >ID</label>
                        <input type="text" id="MemberId" name="MemberId" class="form-control"  /> *@
@*                      @Html.LabelFor(model=>model.MemberId)
                        @Html.EditorFor(model=>model.MemberId,"",new {htmlAttributes=new{@class="form-control"}})  *@
                    </div>

                    <div class="form-group">
                        <label  >標題</label>
                        <input type="text" id="Title" name="Title" class="form-control"  />
@*                         @Html.LabelFor(model=>model.Title)
                        @Html.EditorFor(model=>model.Title,"",new {htmlAttributes=new{@class="form-control"}}) *@
                    </div>

                    <div class="form-group">
                        <label >內容</label>
                <input type="text" id="Content" name="Content" class="form-control" style="height:80px;overflow-wrap:break-word;white-space:pre-wrap" />
                @* <textarea type=input""  id="Content" name="Content" class="form-control" style="height:80px;overflow-wrap:break-word;white-space:pre-wrap" ></textarea> *@
                    </div>

                    <div class="form-group">
                        @* <label  >您的評分</label> *@
@*                         <select id="CommentScore" class="form-control" name="CommentScore" >
                            <option value="">請選擇</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select> *@
                        
            <div class="form-group">


    <div class="form-group">
                                <label for="SelectRating">您的評分</label>
                                <select id="CommentScore" class="form-control" name="CommentScore" style="color:#ffd306;font-size:20px">
                                    <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
                                    <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
                                    <option value="3">&#9733; &#9733; &#9733;</option>
                                    <option value="2">&#9733; &#9733;</option>
                                    <option value="1">&#9733; </option>
                                </select>
                                <input type="hidden" id="CommentScore" name="CommentScore" />
@*                         @Html.LabelFor(model=>model.CommentScore)
                        @Html.EditorFor(model=>model.CommentScore,"",new {htmlAttributes=new{@class="form-control"}}) 
                        @Html.DropDownListFor(model => model.CommentScore, new SelectList(new List<int> { 1, 2, 3, 4, 5 }), "請選擇", new { @class = "form-control" })*@
     </div>

@*                     <div>
                        <label>照片</label>
                        <input asp-for="photos" type="file" class="form-control" id="photoInput"  multiple />
                    </div> *@
                    <div>
                        <label for="formfiles">照片</label>
                        <input asp-for="photos" type="file" class="form-control" id="formFile" multiple />
                    </div>

                    <div id="imagePreview" class="w-100 mt-4"> @*w-100 是元素寬度 ;mt-2 是頂部外邊距單位*@
                    </div>

                    <div>
                        @*<label>MemberId</label>*@
                        <input type="hidden" id="MemberId" name="MemberId" class="form-control" value="@Model.MemberId"/>
@*                         <input type="hidden" id="MemberId" name="MemberId" class="form-control/> *@
                    </div>
                    <div>
                        @*<label>ProductId</label>*@
                        <input type="hidden" name="ProductId" value="@Model.ProductId" class="form-control" />
@*                         <input type="hidden" id="ProductId" name="ProductId" class="form-control/> *@
                    </div>

                    <div>
                          <div class="form-group">
@*                             <input type="submit" class="btn my-btn-primary link-offset-2 link-underline link-underline-opacity-0" value="傳送" id="btnAddComment" /> *@
                               <button type="submit" class="btn my-btn-primary link-offset-2 link-underline link-underline-opacity-0" id="btnAddComment">傳送</button>
                              <button type="submit" class="btn my-btn-primary link-offset-2 link-underline link-underline-opacity-0"><td class="link-offset-2 link-underline link-underline-opacity-0">@Html.ActionLink("取消", "orderList","Member","",new {@class="black-link2"})</td></button>
                          </div>
                        <button type="button" class="btn btn-outline-secondary" id="addDEMO">DEMO</button> @*DEMO用*@

                    </div>
                    @* } *@
                </form>
                </div>
</div>

@* <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://picsum.photos/id/454/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/177/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/442/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/440/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/583/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/770/1500/300" class="d-block w-100" alt="...">
        </div>
    </div>*@
</div> 


@section styles{
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />
}

@section scripts{
   <script src="path/to/sweetalert.js"></script>
   <script>                
       const btnAddComment = document.getElementById('btnAddComment');
                
       btnAddComment.addEventListener('click', () => {
           swal("新增評論成功！", "稍後將自動為您導向", "success", { button: false });                    
           setTimeout(() => {                    
           }, 1500);                
       });
   </script>

@*    <script>
                const selectRating = document.getElementById('SelectRating');
                const CommentScore = document.getElementById('CommentScore');

                // 监听下拉式选单变化事件
                selectRating.addEventListener('change', () => {
                    const selectedStars = selectRating.value; // 获取下拉式选单选择的星星数量
                    CommentScore.value = selectedStars; // 将选择的星星数量赋值给 CommentScore
                });
  </script> *@

            <script>
                const input = document.getElementById('formFile');
                const imagePreview = document.getElementById('imagePreview');

                input.addEventListener('change', function () {
                     //清空預覽區域
                    imagePreview.innerHTML = '';

                    const files = input.files;
                    for (let i = 0; i < files.length; i++) {
                        const file = files[i];
                        if (file) {
                            const reader = new FileReader();
                            reader.addEventListener('load', () => {
                                const img = document.createElement('img');
                                img.src = reader.result;
                        img.style.height = '100px'; // 設置圖像高度
                        img.style.marginRight = '10px'; // 可選的間距
                        img.style.marginBottom = '20px';
                        //img.style.marginTop = '10px';
                        imagePreview.appendChild(img);
                            });
                            reader.readAsDataURL(file);
                        }
                    }
                });
            </script>

    <script>
        //Demo用-addDEMO 新增評論示範
        document.addEventListener('DOMContentLoaded', function () {
            const addDEMO = document.getElementById('addDEMO');
            addDEMO.addEventListener('click', function () {
                // 填充表單輸入欄位

                document.getElementById('Title').value = '極致經驗的行程體驗！';
                document.getElementById('Content').value = '浮潛在蔚藍的海水中，彷彿置身於水下仙境，絕對值得推薦給想要探索自然與\n文化之美的旅客！';
                document.getElementById('CommentScore').value = '4';

                // // 可選：顯示Demo照片
                // const imagePreview = document.getElementById('imagePreview');
                // imagePreview.src = '填充的圖片URL';
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                // 中文化
                'language': {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "emptyTable": "目前沒有資料",
                    "datetime": {
                        "previous": "上一頁",
                        "next": "下一頁",
                        "hours": "時",
                        "minutes": "分",
                        "seconds": "秒",
                        "amPm": [
                            "上午",
                            "下午"
                        ],
                        "unknown": "未知",
                        "weekdays": [
                            "週日",
                            "週一",
                            "週二",
                            "週三",
                            "週四",
                            "週五",
                            "週六"
                        ],
                        "months": [
                            "一月",
                            "二月",
                            "三月",
                            "四月",
                            "五月",
                            "六月",
                            "七月",
                            "八月",
                            "九月",
                            "十月",
                            "十一月",
                            "十二月"
                        ]
                    },
                    "searchBuilder": {
                        "add": "新增條件",
                        "condition": "條件",
                        "deleteTitle": "刪除過濾條件",
                        "button": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "clearAll": "清空",
                        "conditions": {
                            "array": {
                                "contains": "含有",
                                "equals": "等於",
                                "empty": "空值",
                                "not": "不等於",
                                "notEmpty": "非空值",
                                "without": "不含"
                            },
                            "date": {
                                "after": "大於",
                                "before": "小於",
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "number": {
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "gt": "大於",
                                "gte": "大於等於",
                                "lt": "小於",
                                "lte": "小於等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "string": {
                                "contains": "含有",
                                "empty": "為空",
                                "endsWith": "字尾為",
                                "equals": "等於",
                                "not": "不為",
                                "notEmpty": "不為空",
                                "startsWith": "字首為",
                                "notContains": "不含",
                                "notStartsWith": "開頭不是",
                                "notEndsWith": "結尾不是"
                            }
                        },
                        "data": "欄位",
                        "leftTitle": "群組條件",
                        "logicAnd": "且",
                        "logicOr": "或",
                        "rightTitle": "取消群組",
                        "title": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "value": "內容"
                    },
                    "editor": {
                        "close": "關閉",
                        "create": {
                            "button": "新增",
                            "title": "新增資料",
                            "submit": "送出新增"
                        },
                        "remove": {
                            "button": "刪除",
                            "title": "刪除資料",
                            "submit": "送出刪除",
                            "confirm": {
                                "_": "您確定要刪除您所選取的 %d 筆資料嗎？",
                                "1": "您確定要刪除您所選取的 1 筆資料嗎？"
                            }
                        },
                        "error": {
                            "system": "系統發生錯誤(更多資訊)"
                        },
                        "edit": {
                            "button": "修改",
                            "title": "修改資料",
                            "submit": "送出修改"
                        },
                        "multi": {
                            "title": "多重值",
                            "info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
                            "restore": "復原",
                            "noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
                        }
                    },
                    "autoFill": {
                        "cancel": "取消"
                    },
                    "buttons": {
                        "copySuccess": {
                            "_": "複製了 %d 筆資料",
                            "1": "複製了 1 筆資料"
                        },
                        "copyTitle": "已經複製到剪貼簿",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "print": "列印",
                        "copy": "複製",
                        "colvis": "欄位顯示",
                        "colvisRestore": "重置欄位顯示",
                        "csv": "CSV",
                        "pageLength": {
                            "-1": "顯示全部",
                            "_": "顯示 %d 筆"
                        },
                        "createState": "建立狀態",
                        "removeAllStates": "移除所有狀態",
                        "removeState": "移除",
                        "renameState": "重新命名",
                        "savedStates": "儲存狀態",
                        "stateRestore": "狀態 %d",
                        "updateState": "更新"
                    },
                    "searchPanes": {
                        "collapse": {
                            "_": "搜尋面版 (%d)",
                            "0": "搜尋面版"
                        },
                        "emptyPanes": "沒搜尋面版",
                        "loadMessage": "載入搜尋面版中...",
                        "clearMessage": "清空",
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "title": "過濾條件 - %d",
                        "showMessage": "顯示全部",
                        "collapseMessage": "摺疊全部"
                    },
                    "stateRestore": {
                        "emptyError": "名稱不能空白。",
                        "creationModal": {
                            "button": "建立",
                            "columns": {
                                "search": "欄位搜尋",
                                "visible": "欄位顯示"
                            },
                            "name": "名稱：",
                            "order": "排序",
                            "paging": "分頁",
                            "scroller": "卷軸位置",
                            "search": "搜尋",
                            "searchBuilder": "複合查詢",
                            "select": "選擇",
                            "title": "建立新狀態",
                            "toggleLabel": "包含："
                        },
                        "duplicateError": "此狀態名稱已經存在。",
                        "emptyStates": "名稱不可空白。",
                        "removeConfirm": "確定要移除 %s 嗎？",
                        "removeError": "移除狀態失敗。",
                        "removeJoiner": "和",
                        "removeSubmit": "移除",
                        "removeTitle": "移除狀態",
                        "renameButton": "重新命名",
                        "renameLabel": "%s 的新名稱：",
                        "renameTitle": "重新命名狀態"
                    },
                    "select": {
                        "columns": {
                            "_": "選擇了 %d 欄資料",
                            "1": "選擇了 1 欄資料"
                        },
                        "rows": {
                            "1": "選擇了 1 筆資料",
                            "_": "選擇了 %d 筆資料"
                        },
                        "cells": {
                            "1": "選擇了 1 格資料",
                            "_": "選擇了 %d 格資料"
                        }
                    },
                    "zeroRecords": "沒有符合的資料",
                    "aria": {
                        "sortAscending": "：升冪排列",
                        "sortDescending": "：降冪排列"
                    },
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                    "infoThousands": ",",
                    "lengthMenu": "顯示 _MENU_ 筆結果",
                    "search": "搜一搜：",
                    "searchPlaceholder": "請輸入關鍵字",
                    "thousands": ","
                }
            });
        });
    </script>
}

