@*<h1>即時聊天範例</h1>*@

<div class="container mt-2" style="justify-content:space-between;display:flex">
    @*     <div class="row"> *@
    <div class="col-md-3">
        <div id="div1">
            <div class="cell" id="div3">
                <div class="cell d-flex flex-column">
                        @*                      原本load二進位的頭像圖片用
                        @{
                        if (ViewBag.photo != null)
                        {
                        <div style="text-align:center;background-color:white;border-radius:10px">
                        <img src="@ViewBag.PhotoBase64" width="150" height="150" />
                        </div>
                        }
                        else
                        {
                        <img src="~/icons/User profile - border vector image.png" style="width: 150px; height" alt="noimage" />
                        }
                        } *@
                    @{
                        if (ViewBag.image != null)
                        {
                            <div style="text-align:center;background-color:white;border-radius:10px">
                                <img src="~/images/@ViewBag.image" width="150" height="150" />
                            </div>
                        }
                        else
                        {
                            <div style="text-align:center;background-color:white;border-radius:10px">
                                <img src="~/icons/User profile - border vector image.png" width="150" height="150" />
                            </div>
                        }
                    }
                    </div>
                <ul class="list-group leftarea mt-3" style="font-size:18px;font-weight:600">
                    <li class="list-group-item menuItem" data-content="subItem1"> <span><img style="height:50px;width:45px;padding-bottom:5px" src="~/icons/icon-hi-2(member).gif" /></span><b style="font-weight:bolder;font-size:20px;font-weight:600;padding-top:-50px">@ViewBag.LastName@ViewBag.firstName</b></li>

                            @{
                                if (ViewBag.level == "黑鑽會員")
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke"><span><img style=" height:30px;width:30px;padding-bottom:5px" src="~/icons/level_dimond48.png" /></span><b>@ViewBag.level</b></li>
                                }
                                else if (ViewBag.level == "黃金會員")
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke"><span><img style=" height:40px;width:40px;padding-bottom:5px" src="~/icons/level-gold-50.png" /></span><b>@ViewBag.level</b></li>
                                }
                                else if (ViewBag.level == "白銀會員")
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke"><span><img style=" height:40px;width:40px;padding-bottom:5px" src="~/icons/level-slover-50.png" /></span><b>@ViewBag.level</b></li>
                                }
                                else
                                {
                                    <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke; margin-top:-10px">@ViewBag.level </li>
                                }
                            }
                        </ul>

            </div>
            <div class="cell" id="div2">
                <ul class="list-group leftarea lgmenu mt-3 " style="font-size:20px;font-weight:600">
                    <li class="list-group-item menuItem">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                    <li class="list-group-item menuItem">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link",@style="margin-left:-5px"}) </li>
                    <li class="list-group-item menuItem">
                        @Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"})
                        <span class="badge rounded-pill bg-danger">@ViewBag.countscoupon</span>
                    </li>
                    <li class="list-group-item menuItem">@Html.ActionLink("常用旅伴", "showCompanion","Member","",new {@class="black-link",@style="margin-left:-5px"}) </li>
                    <li class="list-group-item menuItem">
                        @Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"})
                        <span class="badge rounded-pill bg-danger">@ViewBag.countsfavorite</span>
                    </li>
                    <li class="list-group-item menuItem">
                        @Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"})
                        <span class="badge rounded-pill bg-danger">@ViewBag.countsorder</span>
                    </li>
                    <li class="list-group-item menuItem">
                        @Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"})
                        <span class="badge rounded-pill bg-danger">@ViewBag.countscomment</span>
                    </li>
                    <li class="list-group-item menuItem">
                        @Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})
                        <span class="badge rounded-pill bg-danger">@ViewBag.ForumLists</span>
                    </li>
                    <li class="list-group-item menuItem">
                        @Html.ActionLink("樂旅Chat", "SignalR","Member","",new {@class="black-link"})
                        @* <span class="badge rounded-pill bg-danger">@ViewBag.ForumLists</span> *@
                        <span><img style="width:30px;height:25px" src="~/icons/icon-chat-2.gif" /></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ↑↑↑左半邊 - 內容容器↑↑↑ -->
    <!-- ↓↓↓右半邊 - 內容容器↓↓↓ -->
    <div id="rightPanel" class="col-md-9">
        <h3 class="mb-4"><b>樂旅Chat</b><span><img style="width:270px;height:150px;margin-bottom:0px;margin-left:-80px; margin-top:-15px" src="~/icons/icon-chat-1.gif" /></span></h3>
        
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb" style="margin-top:-40px;margin-bottom:-15px">
                <li class="breadcrumb-item"><a href="~/HomePage/HomePage">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="~/Login/Login"> 會員登入</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="~/Member/index"> 會員專區</a></li>
                <li class="breadcrumb-item active" aria-current="page">樂旅Chat</li>
            </ol>
        </nav>
@*         @using (Html.BeginForm("basicInfo", "Member", FormMethod.Post))
        { *@
        <div class="row mt-2" style="overflow-y:auto">
            <div class="col-12">
                <h3>聊天內容</h3>
                @* <ul id="IDList" style="color:#FF359A">@ViewBag.LastName@ViewBag.firstName </ul> *@
                <ul class="list-group" id="Content" style="height:300px;width: 800px;border-radius:10px; border: 1px ;"></ul>
            </div>
        </div>

        <div class="form-floating mb-1">
            
            <input type="text" class="form-control" id="messageInput" style="color:black;border-radius:10px;width:800px; margin-top:500px;box-shadow: 25px 0 25px -15px #e9ecef, 0 25px 25px -15px #e9ecef, -25px 0 25px -15px #e9ecef, 0 -25px 25px -15px #e9ecef;" placeholder="我想說...">
            <label for="messageInput" id="messageLabel" style="color:#FF8040">我想說...</label>
        </div>

            <div class="form-group">
            @* <label for="sendToID" class="form-label">指定 ID</label> *@
             <input type="hidden" class="form-control" id="sendToID" /> 
            @* <input type="text" class="form-control" id="sendToID" value="sendToID"/> *@
            </div>

            <div class="form-group">
                    <button type="submit" class="btn my-btn-primary" id="sendButton" style="margin-right:-100px">傳送訊息</button>
            </div>

        <button type="submit" class="btn btn-outline-secondary" id="addDEMOfirstmessage">DEMOIM1</button> @*DEMO用*@
        <button type="submit" class="btn btn-outline-secondary" id="addDEMOsecondmessage">DEMOIM2</button> @*DEMO用*@
@*         } *@


    </div>
</div>



@section Styles{
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />

    <style>
        .sent-message {
        color: blue; /* 设置发送者消息的颜色 */
        background-color: lightblue;}  /* 设置发送者 */

        .received-message{
            color: red;
            background-color: lightpink;
        }

        #Content li {
            color: blue;
            box-shadow: 25px 0 25px -15px #e9ecef, 0 25px 25px -15px #e9ecef, -25px 0 25px -15px #e9ecef, 0 -25px 25px -15px #e9ecef;
        }

        #messageInput  {
            box-shadow: 25px 0 25px -15px #e9ecef, 0 25px 25px -15px #e9ecef, -25px 0 25px -15px #e9ecef, 0 -25px 25px -15px #e9ecef;
        }
    </style>
}

@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
            <script>
                var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

                //與Server建立連線
                connection.start().then(function () {
                    console.log("Hub 連線完成");
                }).catch(function (err) {
                    alert('連線錯誤: ' + err.toString());
                });

                // 更新連線 ID 列表事件
                connection.on("UpdList", function (jsonList) {
                    var list = JSON.parse(jsonList);
                    //$("#IDList li").remove();
                    for (i = 0; i < list.length; i++) {
                        //$("#IDList").append($("<li></li>").attr("class", "list-group-item").text(list[i]));
                    }
                });

                // 更新用戶個人連線 ID 事件
                connection.on("UpdSelfID", function (id) {
            $('#ConnectionID').html(id);
                });

                // 更新聊天內容事件
                connection.on("UpdContent", function (msg) {
            $("#Content").append($("<li></li>").attr("class", "list-group-item").text(msg)); //"<li></li>"  attr("class", "list-group-item")
                });


                //傳送訊息
        $('#sendButton').on('click', function () {
            //var connectionID = @Html.Raw(Json.Serialize(ViewBag.ConnectionID));
            let connectionID = $('#ConnectionID').html();
            let messageInput = $('#messageInput').val();
            let sendToID = $('#sendToID').val(); // 獲取發送目標的連接ID

            // 創建一個新的消息元素
            var messageElement = $("<li></li>").attr("class", "list-group-item");

            // 將接收者ID傳遞給 SendMessage 方法
            connection.invoke("SendMessage", messageInput, sendToID).catch(function (err) {
                alert('傳送錯誤: ' + err.toString());
            });

            if (connectionID !== sendToID) {
                messageElement.addClass("sent-message");
            } else {
                messageElement.addClass("received-message");
            }

            //messageElement.text(connectionID+messageInput + "    " + new Date().toLocaleString()); // 將消息文本和時間添加到消息元素

            //$("#Content").append(messageElement); // 將消息元素附加到聊天內容列表
        });
    </script>

    <script>
        //Demo用-addDEMOfirstmessage 由江瑋倫身分發第一條信息示範
        document.addEventListener('DOMContentLoaded', function () {
            const addaddDEMOfirstmessageDEMOture = document.getElementById('addDEMOfirstmessage');
            addDEMOfirstmessage.addEventListener('click', function () {
                // 填充表單輸入欄位

                document.getElementById('messageInput').value = '嗨~在線大大，有什麼地方是去台南一定要去的嗎?';
            });
        });
    </script>

    <script>
        //Demo用-addDEMOsecondmessage 由柏全身分發第一條信息示範
        document.addEventListener('DOMContentLoaded', function () {
            const addDEMOsecondmessage = document.getElementById('addDEMOsecondmessage');
            addDEMOsecondmessage.addEventListener('click', function () {
                // 填充表單輸入欄位

                document.getElementById('messageInput').value = '滿多的呀~';
            });
        });
    </script>
}