@model prj_Traveldate_Core.ViewModels.CHomePresent 
@section TopImage{

 
    <section class="mt-0 pl-0 pr-0">
        <form>
            <div class="search-container w-100">
                <div class="d-flex justify-content-center w-50 position-relative">
                    <input type="text" name="txtKeyword" class="search-input rounded p-0" placeholder="搜尋..."/>
                    <a asp-area="" asp-controller="Search" asp-action="SearchList">
                    <input type="button" value="搜尋" class="btn my-btn-primary btn-dock-right"/> <!-- 調整搜尋按鈕的高度 -->
                    </a>
                </div>
            </div>      
        </form>
        <!-- 輪播圖容器 -->
        <div id="swiper-container" class="swiper-container">
            <div class="swiper-wrapper">
                <!-- 輪播圖內容 -->
                <div class="swiper-slide">
                    <img src="~/images/首頁.jpg" alt="圖片1">
                </div>
                <div class="swiper-slide">
                    <img src="~/images/首頁2.jpg" alt="圖片2">
                </div>
                <div class="swiper-slide">
                    <img src="~/images/首頁3.jpg" alt="圖片3">
                </div>
                <div class="swiper-slide">
                    <img src="~/images/首頁4.jpg" alt="圖片4">
                </div>
            </div>
            <!-- 添加分頁器 -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
}




<section class="hot-destinations-section" id="hot-destinations-section">
    <h2>熱門行程</h2>

    <div class="destination-container">
        @foreach (var p in Model.popularList)
        {
            <div class="destination-item">
                <a asp-action="Product" asp-controller="Program" asp-route-id="@p.productId" class="text-secondary">
                <div class="card-1">
                    <div class="card" style="width: 340px; border-radius: 20px">
                        <img src="~/images/@p.ImagePath" style="border-radius: 20px 20px 0 0 " class="card-img-top" alt="..." />
                        <div class="card-body" style="height:140px;">
                            <div class="flame-icon"></div> 
                            <p class="card-text">@p.productName</p>
                            <p class="card-text">
                                價格：＄@p.unitPrice
                                <br />
                                    <div class="rating-container">
                                        <span class="rating-text">評價：@p.commentScoreString/5</span>
                                        <div class="rating">
                                            <div class="stars">
                                                <div class="star-container">
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <div class="star @GetStarClass(p.commentScore, i)"></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        }
    </div>
</section>










<section class="hot-destinations-section" id="hot-destinations-section">

    <div class="container bg-transparent p-5">

        <h2 class="text-center">TOP旅遊行程</h2>
        <div class="centered-slider">
            <div class="slider responsive">
@*                 //todo本機登入會報錯的地方先註解 *@
                @foreach (var p in Model.commentList)
                {
                    <div class="destination-item">
                        <a asp-action="Product" asp-controller="Program" asp-route-id="@p.productId" class="text-secondary">
                        <div class="card-1">
                            <div class="card" style="width: 17rem; border-radius: 20px">
                                <img src="~/images/@p.ImagePath" style="border-radius: 20px 20px 0 0 " class="card-img-top" alt="..." />
                                    <div class="card-body" style="height:140px;">                                      
                                    <div class="top-icon"></div>
                                    <p class="card-text">@p.productName</p>
                                    <p class="card-text">
                                        價格：＄@p.unitPrice
                                        <br />
                                        <div class="rating-container">
                                            <span class="rating-text">評價：@p.commentScoreString/5</span>
                                            <div class="rating">
                                                <div class="stars">
                                                    <div class="star-container">
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            <div class="star @GetStarClass(p.commentScore, i)"></div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>




<section class="hot-destinations-section" id="hot-destinations-section">

    <div class="container bg-transparent p-5">

        <h2 class="text-center">促銷行程</h2>
        <div class="centered-slider">
            <div class="slider responsive">

                @foreach (var p in Model.discountList)
                {
                    <div class="destination-item">
                        <a asp-action="Product" asp-controller="Program" asp-route-id="@p.productId" class="text-secondary">
                        <div class="card-1">
                            <div class="card" style="width: 17rem; border-radius: 20px">
                                <img src="~/images/@p.ImagePath" style="border-radius: 20px 20px 0 0 " class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <div class="discount-icon"></div>
                                        <span style="color: red ; font-size: 22px ; ">限時優惠!</span>
                                    <p class="card-text">@p.productName</p>
                                    <p class="card-text">
                                        價格：＄@p.unitPrice
                                        <br />
                                        <div class="rating-container">
                                            <span class="rating-text">評價：@p.commentScoreString/5</span>
                                            <div class="rating">
                                                <div class="stars">
                                                    <div class="star-container">
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            <div class="star @GetStarClass(p.commentScore, i)"></div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>





<section class="hot-place-section">
    <h2>熱門地區探索</h2>

    <div class="hot-place-container">

        <div class="hot-place-item" id="台北">
            <img src="~/images/城市1.jpg" alt="城市1">
            <div class="caption">台北</div>
        </div>

        <div class="hot-place-item" id="台中">
            <img src="~/images/城市2.jpg" alt="城市2" >
            <div class="caption">台中</div>
        </div>

        <div class="hot-place-item" id="基隆">
            <img src="~/images/城市3.jpg" alt="城市3" >
            <div class="caption">基隆</div>
        </div>

        <div class="hot-place-item" id="宜蘭">
            <img src="~/images/城市4.jpg" alt="城市4" >
            <div class="caption">宜蘭</div>
        </div>

        <div class="hot-place-item" id="花蓮">
            <img src="~/images/城市5.jpg" alt="城市5" >
            <div class="caption">花蓮</div>
        </div>

        <div class="hot-place-item" id="台南">
            <img src="~/images/城市6.jpg" alt="城市6" >
            <div class="caption">台南</div>
        </div>

    </div>
</section>


@functions {
    public string GetStarClass(double? rating, int index)
    {
        if (rating.HasValue)
        {
            int filledStars = (int)Math.Floor(rating.Value);
            double remainder = rating.Value - filledStars;
            if (index <= filledStars)
            {
                return "active";
            }
            else if (index == filledStars + 1 && remainder >= 0.5)
            {
                return "half-filled";
            }
        }
        return "";
    }
}





@section Styles
{


  



    <style>


        .flame-icon {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 5px; /* 调整火焰图标在垂直方向上的位置 */
            left: 5px; /* 调整火焰图标在水平方向上的位置 */
            background-image: url('images/fire.png'); /* 设置火焰图标的图片路径 */     
            background-size: cover; /* 调整图标大小以填充容器 */
            z-index: 100; /* 或更高的值 */
        }


        .top-icon {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 5px; 
            left: 5px;
            background-image: url('images/top.png');
            background-size: cover; 
            z-index: 100;
        }

        .discount-icon {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 5px;
            left: 5px;
            background-image: url('images/discount.png');
            background-size: cover;
            z-index: 100;
        }





        .rating-container {
            display: flex;
            align-items: center;
        }

        .rating-text {
            text-align: left;
            margin-right: 5px;
        }

        .star {
            display: inline-block;
            width: 13px;
            height: 13px;
            background-color: gray;
            margin-right: 2px;
            clip-path: polygon(50% 0%, 61% 38%, 100% 38%, 68% 61%, 79% 100%, 50% 76%, 21% 100%, 32% 61%, 0% 38%, 39% 38%);
            transition: transform 0.3s ease-in-out;
        }
     
        .star.active {
            background-color: #00F0F0;
            clip-path: polygon(50% 0%, 61% 38%, 100% 38%, 68% 61%, 79% 100%, 50% 76%, 21% 100%, 32% 61%, 0% 38%, 39% 38%);
              
        }

        .half-filled {
            background: linear-gradient(to right, #00F0F0 50%, gray 50%);
        }


        /* 全局樣式 */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        section img {
            max-width: 100%;
        }
        

        /* 輪播圖 */

        .swiper-container {
            max-width: 100%;
            height: 400px;
            margin: -50px auto 0; /* 調整 margin-top 為 header 和 nav 的高度之和 (70px) */
            overflow: hidden;
            position: relative; /* 添加position: relative;屬性 */
            z-index: 0; /* 將z-index設置為0，使輪播圖位於最底層 */
        }

        .swiper-pagination {
            bottom: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
        /* 响應式樣式 */

        /*搜尋樣式*/
        .search-container>div{
            height:50px;
        }
        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute; /* 將搜尋欄位置固定 */
            top: 120px; /* 將搜尋欄固定在最上方 */
            /*left: 0; /* 將搜尋欄固定在最左方 */
            /*width: 100%; /* 搜尋欄佔滿整個寬度 */
            height: 400px; /* 調整搜尋欄高度為輪播圖高度的2倍 */
            z-index: 1; /* 將搜尋欄設置為最上層，蓋過輪播圖 */
        }

        .search-input{
            /*202308017 移除 position:absolute 避免搜尋按鈕沒有對其*/
            /*position:absolute;*/
            /*left:5px;*/
            bottom:0;
            top:0;
            width:100%;
            overflow:hidden;
        }

        /* 底部樣式 */
        

        /*-----------------------------------------------------------------------------*/

        .destination-container {
          
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:0 0 10px 0;
        }


        .destination-item {
            position: relative;
            flex: 0 0 calc(25% - 10px);
            margin: 5px; 
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

        }


        /*下方熱門地區*/
    

        .hot-place-section {
            text-align: center;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1200px; /* 调整容器的最大宽度 */
            margin: 0 auto; /* 居中容器 */
        }

        .hot-place-container {
            font-size: 0; /* 設置父容器的 font-size 為 0 */
            justify-content: center;
            display: flex;
            flex-wrap: nowrap; /* 這裡設置 nowrap 表示不換行 */
            overflow-x: hidden; /* 隱藏水平溢出部分，因為圖片會寬度超出容器 */
            margin: 0 -10px; /* 這裡使用負邊距來調整圖片間的間距 */
        }

        .hot-place-item {
            width: 200px;
            height: 300px;         
            overflow: hidden; /* 隱藏圖片的溢出部分，以顯示圓弧效果 */
            font-size: 16px; /* 設置子元素的 font-size 為適當的值 */
        }

        .hot-place-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 5px;
            border-radius: 10px 
        }

        .hot-place-item:hover {
            width: 300px; /* 滑鼠移到圖片上時，調整圖片寬度為 300px */
        }

        .hot-place-item {
            position: relative;
            overflow: hidden;
        }

        /* 設定文字的樣式 */
        .caption {
            position: absolute;
            bottom: 0;
            left: 2%;
            width: 98%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 10px;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.3s, transform 0.3s;
        }

        /* 當滑鼠移到圖片時，顯示文字 */
        .hot-place-item:hover .caption {
            opacity: 1;
            transform: translateY(0);
        }
        /*-----------------------------------------------------------------------------*/

        h2 {
            font-size: 52px;
        }




        /* 省略其他樣式... */


        .hot-destinations-section {
            width: 80%;
            text-align: center;
            margin: auto; /* 水平居中 */
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


            /* 鼠標懸停時的樣式 */
            .cta-btn:hover {
                background-color: #555; /* 當滑鼠懸停時，深一點的灰色 */
                transition: background-color 0.3s; /* 添加平滑過渡效果 */
            }

        /*-------------------------------------------*/

        /*卡片樣式*/
        .destination-item .card-text {
            text-align: left;
        }
        .card-img-top {
            width: 600px;
            height: 210px;
        }
        .card-body {
            height: 180px;
        }
        .card:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

   

        /*-------------------------------------------*/


       
    </style>

        }
<style>
    .slick-prev {
        left: -50px; /* 左定位 */
    }

    .slick-next {
        left: 1213px; /* 左定位 */
    }

        .slick-prev:before,
        .slick-next:before {
            color: black;
            font-size: 40px;
        }

    .slider {
        width: 117%;
        position: relative; /* 添加相对定位 */
    }

    .slick-track {
        height: 400px;
    }

    .centered-slider {
        display: flex;
        justify-content: center; /* 水平居中 */
    }


</style>
        

        @section Scripts
        {
    <script>
       
        // 輪播圖
        var mySwiper = new Swiper('.swiper-container', {
            loop: true, // 循環輪播
            autoplay: true, // 開啟自動輪播
            pagination: {
                el: '.swiper-pagination', // 分頁器元素
                clickable: true, // 極點分頁切換
            },
            slidesPerView: 1, // 每次只顯示一張圖片
        });


   
    $(".responsive").slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 4, // 一次显示的图像数量
        slidesToScroll: 4, // 每次滑动滚动的图像数量
        centerPadding: '20px', // 添加额外的填充来调整左右间距
        
    });

   
        </script>
        <script>
       //按下下方的地點可以直接導到搜尋頁並搜尋
        $('.hot-place-container').on('click','.hot-place-item', function (e) {
                e.preventDefault();
                location.href = '@Url.Content("~/Search/SearchList")?triggerItem=' + $(this).attr('id');
            })
        </script>
         }
 