@model prj_Traveldate_Core.Models.MyModels.CCompanyWrap
@{
    ViewData["Title"] = "Edit";
}


<!-- Page Wrapper -->
<div id="wrapper">
    
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="~/Dashboard/List">
                <img src="~/icons/home.png" class="subicon" />
                <span>首頁</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompany"
               aria-expanded="true" aria-controls="collapseCompany">
                <img src="~/icons/company.png" class="subicon" />
                <span>旅行社專區</span>
            </a>
            <div id="collapseCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Company/Edit">帳號管理</a>
                    <a class="collapse-item" href="~/Company/Password">更改密碼</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <img src="~/icons/edit.png" class="subicon" />
                <span>產品管理</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Product/List">產品列表</a>
                    <a class="collapse-item" href="~/Product/Create">新增產品</a>
                    <a class="collapse-item" href="~/Trip/List">出團日期</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnalyze"
               aria-expanded="true" aria-controls="collapseAnalyze">
                <img src="~/icons/company.png" class="subicon" />
                <span>數據分析</span>
            </a>
            <div id="collapseAnalyze" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Analysis/SellAnalysis">銷售分析</a>
                </div>
            </div>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
              
            <!-- Begin Page Content -->
            
            <div class="container-fluid">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()



                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <h2>帳號管理</h2>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CompanyId)

                        <div class="row">
                           
                            <div class="col-lg-6">
                                <input type="hidden" name="CompanyId" value="@Model.CompanyId"/>
                                <!-- Basic Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary cardTitle">基本資料</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="control-label">法定公司名稱</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">負責人姓名</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Principal, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Principal, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">統一編號</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TaxIdNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TaxIdNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">官方網站</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">服務描述</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ServerDescription, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ServerDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Basic Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary cardTitle">地址</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="control-label">國家</label>
                                            <div class="col-md-10">
                                                @*@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })*@
                                                <select asp-for="Country" class="form-select form-select-lg mb-3">
                                                    @foreach(string country in Model.country)
                                                    {
                                                        <option value="@country">@country</option>
                                                        
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">郵遞區號</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">城市</label>
                                            <div class="col-md-10">
                                                @*@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })*@
                                                <select asp-for="City" class="form-select form-select-lg mb-3">
                                                    @foreach (CityList city in Model.cities)
                                                    {
                                                        <option value="@city.City">@city.City</option>
                                                    }

                                                </select>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">地址</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-6">

                                <!-- Basic Card Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary cardTitle">聯絡人資訊</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="control-label">聯絡人姓名</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">聯絡人手機號碼</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">聯絡人職稱</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <input type="submit" value="確認並儲存" class="btn btn-success" id="EditProduct" />
                                </div>
                            </div>

                        </div>
                        <!-- /.container-fluid -->
                    </div>
                }

                   

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
       

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
@section Styles{
<style>
    .card-body{
    
        height:unset;
    }
    .cardTitle{
    font-size:25px;
    }
    
</style>
}
@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('#EditProduct').click(function(){
            swal("旅行社資料編輯成功！", "稍後將自動為您導向", "success");
        });
    </script>
}
 
